#inner-citizenship,
#inner-user {
    position: relative;
}

#input-dropdown-options {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    border: 1px solid #ccc;

    box-shadow: 4px 4px 18px -5px #DADDE8CC;
}

.input-dropdown-option {
    padding: 0.5rem;
    cursor: pointer;
}

.input-dropdown-option:hover {
    background-color: #F5F2FE;
}
