
@media (min-width: 1440px) { 
    
    #navigation-space {
        min-width: 260px;
        max-width: 20%;
    }

    #navigation-content {
        max-width: 20%;
        padding-left: 2%;
        padding-right: 2%;
    }
    #nav-burger {
        display: none;
    }
    #nav-dropdown {
        display: none;
    }
    #profile-header-title {
        font-size: 2.5rem;
    }
    #page-spacing {
        padding: 2rem;
    }

}

@media (min-width: 1150px) and (max-width: 1440px) {
    #navigation-space {
        max-width: 260px;
    }

    #navigation-content {
        max-width: 260px;
    }

    #nav-burger {
        display: none;
    }
    #nav-dropdown {
        display: none;
    }
    #profile-header-title {
        font-size: 2.5rem;
    }
    #page-spacing {
        padding: 2rem;
    }


}

@media (max-width: 1150px) {

    #navigation-space {
        display: none;
    }
     #nav-burger {
        display: block;
    }
    #profile-header-title {
        font-size: 2rem;
    }
    #page-spacing {
        padding: 0.7rem;
    }
    #profile-header {
        margin-bottom: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--white-color);
        padding: 0.7rem;
        height: 65px;
        z-index: 100;

    }
    #personal-data {
        padding-top: 3rem;
    }

}



@media (min-width: 880px) {


    .p-section-content {
        padding: 1.5rem;
    }

    #profile-header {
        margin-bottom: 3rem;
    }
    .p-section-title {
        font-size: 1.6rem;
    }
    .report-container {
        width: 49%;
    }

}

@media (max-width: 880px) {
   
    .fields-split {
        flex-wrap: wrap;
        gap: 0.7rem;
    }

    .reverse {
        flex-wrap: wrap-reverse;
        gap: 0.7rem;
    }

    .p-section-content {
        padding: 0.9rem;
    }

    .empty {
        display: none;
    }

    .p-section-title {
        font-size: 1.3rem;
    }

    .profile-green-button {
        margin: auto;
    }

    .report-container {
        max-width: 100%;
        width: 100%;
    }

    #nav-dropdown {
        flex-direction: column;
    }
    
    .nav-option {
        max-width: fit-content;
        margin: auto;
        text-align: center;
        padding: 0.5rem;
    }


}
