
@media (min-width: 1440px) {
    #navigation-mob {
        display: none;
    }
    .navigation-dropdown {
        display: none;
    }
    #header-section {
        min-height: 850px;
    }

    #header {
        max-width: 1440px;
        padding: 9rem;
        padding-top: 12rem;
        justify-content: space-between;
    }

    #header-text {
        max-width: 600px;
    }

    #header-box {
        padding: 1.8rem 1rem;
    }

    #header-title .bold,
    #header-title {
        font-size: 3.3rem;
        line-height: 4.2rem;
    }

    .header-label {
        font-weight: 500;
    }
    #header-title {
        margin-bottom: 50px;
    }

    .big-date {
        font-size: 1.5rem;
        line-height: 2.2rem;
    }
    
    .section-title {
        font-size: 42px;
        line-height: 47px;
    }
    
    .take-part-button {
        font-size: 20px;
        max-width: 370px;
    }
    
    .more-button {
        min-width: 420px;
        max-width: 420px;
        font-size: 20px;
        line-height: 20px;
    }

    .more-button-container {
        margin: auto;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .rounded {
        border-radius: 10px;
        border: 1px solid var(--medium-color);
        box-shadow: 4px 4px 10px 0px #58409833;
    }
    .participants-split-2 > div:first-child .sub-title {
        font-size: 1.7rem;
    }
    .split-container-1 {
        margin-bottom: 3rem;
    }

    .split-container-2 {
        margin-top: -20px;
        padding: 2rem 1rem;
    }
    
    #passport-accent {
        font-size: 1.2rem;
    }
    .participants-date {
        font-size: 1.2rem;
    }

    .iki-split {
        flex-direction: row;
        padding-top: 2rem;
    }

    #iki_smaller {
        display: none;
    }

    #other-header-container {
        height: 400px;
        padding-top: 200px;
    }

    #other-header-title {
        font-size: 3rem;
        margin-bottom: 4rem;
    }

    .ohds-evenly,
    .ohds-2 {
        max-width: 1440px;
        width: 1440px;
    }

    .ohds-evenly div,
    .ohds-2 div {
        font-size: 15px;
    }

    .paragraph-b {
        font-size: 1.1rem;
        line-height: 35px;
        margin-bottom: 1.5rem;
    }

    .paragraph-b .bold {
        font-size: 1.1rem;
    }

    .paragraph {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    .sub-title {
        font-size: 1.5rem;
    }
   
    #goal-split {
        gap: 6rem;
    }
    #goal-split div {
        width: 500px;
        max-width: 500px;
    }

    .dark-subsection-title {
        font-size: 1.3rem;
    }
    .theme-split {
        gap: 10rem;
    }
    .two-thirds {
        max-width: 60%;
    }
    
    .rules-option { 
        width: 460px;
        font-size: 18px;
        line-height: 24px;
    }

    .rules-block * {
        font-size: 1.1rem;
        line-height: 30px;
    }
    .gray-container {
        border: 1px solid var(--dark-color);
        border-radius: 10px;
    }
    .date-label {
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    .gray-container > div:first-child {
        font-size: 1.7rem;
        margin-bottom: 2.5rem;
    }
    .vl {
        border-left: 1px solid var(--light-gray-color);
    }
    li {
        line-height: 30px;
        font-size: 1rem;
    }
    .contact-label {
        font-size: 1.2rem;
    }
    .directions-split > div:last-child {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .directions-split {
        margin-bottom: 10rem;
    }
    .wvl {
        border-left: 1px solid var(--white-color);
    }
    #format-container {
        top: -100px;
        border-radius: 10px;
        border: 1px solid #d7d7d7;
        box-shadow: 8px 8px 20px 0px #C2C2C233;
    }

    .committee-container {
        padding: 1.5rem;
    }
    
    .committee-container div {
        margin-left: 1.5rem;
    }
    .theme-container {
        max-width: 460px;
    }

    .purple {
        padding: 2rem;
    }

    .q-container {
        padding: 1.5rem;
    }

    .q-text {
        font-size: 1.3rem;
    }
    
    .answer {
        padding-top: 2rem;
    }

    #rules-doc-mob {
        display: none;
    }
    .rules-option {
        font-size: 1rem;
        padding: 18px 10px;
    }
    .rules-block {
        padding: 1.5rem;
    }
    .map-container {
        width: 50%;
        max-height: 500px;
    }



    #entrance-container {
        top: 10vh;
        width: 600px;
    }
    .entrance-content {
        margin: 1rem 4rem 3rem 4rem;
    }
    
    .entrance-switch div:first-child {
        min-width: 200px;
    }

    .entrance-switch div:last-child {
        min-width: 260px;
    }
    
    .e-switch-always,
    .e-switch {
        font-size: 1.8rem;
    }
   
   .paragraph-e {
        font-size: 1.3rem;
    } 
   
    .committee-container .theme-container-partial {
        height: 100%;
        max-height: 100%;
    }

    .committee-container .theme-container-partial::after {
        height: 0%;
    }

    .committee-container .theme-more {
        display: none;
    }

}

@media (min-width: 800px) and (max-width: 1440px) {
    #navigation-container {
        width: 100%;
        padding: 0 2rem;
    }

    #navigation {
        display: none;
    }

    #header-section {
        max-height: fit-content;
        overflow: hidden;
    }

    #header {
        padding: 2rem;
        padding-top: 10rem;
        min-height: 700px;
        justify-content: space-evenly; 
    }

    #header-box {
        padding: 1.8rem 1rem;
    }

    #header-title {
        margin-bottom: 50px;
    }

    #header-section-img {
        min-height: 700px;
    }

    #header-text {
        text-align: center;
        max-width: 430px;
    }

    .header-label {
        font-weight: 500;
    }

    #header-title .bold,
    #header-title {
        font-size: 2.3rem;
        line-height: 3.1rem;
    }

    .big-date {
        font-size: 1.1rem;
        line-height: 1.8rem;
    }

    #header-text .take-part-button {
        margin: auto;
    }

    .section-title {
        font-size: 33px;
        line-height: 38px;
    }

    .section-container {
        padding: 2rem 2rem 0 2rem;
    }

    .take-part-button {
        font-size: 18px;
        max-width: 300px;
    }

    .more-button {
        min-width: 300px;
        max-width: 300px;
        font-size: 20px;
        line-height: 20px;
    }

    .more-button-container {
        margin: auto;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .rounded {
        border-radius: 10px;
        border: 1px solid var(--medium-color);
        box-shadow: 4px 4px 10px 0px #58409833;
    }
    .split-container-1 {
        margin-bottom: 3rem;
    }

    .split-container-2 {
        margin-top: -20px;
        padding: 2rem 1rem;
    }
    .participants-split-2 > div:first-child .sub-title {
        font-size: 1.7rem;
    }

    #passport-accent {
        font-size: 1rem;
    }

    .participants-date {
        max-width: 160px;
        word-break: break-word;
        font-size: 14px;
        line-height: 22px;
    }

    .iki-split {
        flex-direction: column-reverse;
        padding-top: 0;
    }
    
    #iki_bigger {
        display: none;
    }
    
    #iki_smaller {
        margin: auto;
    }

    .subsection-title {
        font-size: 1.5rem;  
    }

    .map-split {
        flex-direction: column;
    }

    .directions-split {
        flex-direction: column;
        margin-bottom: 6rem;
    }

    .contact-label-split {
        display: flex;
        flex-direction: row-reverse;
        gap: 5rem;
        justify-content: start;
    }

    #footer-content {
        flex-direction: column;
        max-width: fit-content;
        text-align: center;
    }

    #footer-content img {
        max-width: 150px;
    }

    .footer-links {
        display: flex;
        gap: 2rem;
    }

    #other-header-container {
        height: 360px;
        padding-top: 180px;
    }

    #other-header-title {
        font-size: 2rem;
        margin-bottom: 4rem;
    }

    .ohds-evenly,
    .ohds-2 {
        width: 100%;
        padding: 0 1rem;
    }
    
    .ohds-evenly div,
    .ohds-2 div{
        font-size: 12px;
    }

    .paragraph-b {
        font-size: 1rem;
        line-height: 30px;
        margin-bottom: 1.5rem;
    }
    
    .paragraph-b .bold {
        font-size: 1rem;
    }

    .paragraph {
        font-size: 0.9rem;
        margin-bottom: 1.5rem;
    }
    
    .sub-title {
        font-size: 1.3rem;
    }

    #goal-split {
        flex-direction: column;
        gap: 0;
    }

    #goal-split div {
        max-width: 100%;
        width: 100%;
    }

    .dark-subsection-title {
        font-size: 1.1rem;
    }
    .theme-split {
        gap: 6rem;
    }
   .two-thirds {
        max-width: 100%;
    }

    .rules-option { 
        width: 290px;
        font-size: 14px;
        line-height: 18px;
    }

    .rules-block * {
        font-size: 1rem;
        line-height: 27px;
    }

    .rules-doc-split {
        flex-direction: column;
    }

    .rules-doc-button {
        max-width: 220px;
        margin: auto;
    }

    .gray-container {
        border: 1px solid var(--dark-color);
        border-radius: 10px;
    }
    .date-label {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    .gray-container > div:first-child {
        font-size: 1.7rem;
        margin-bottom: 2.5rem;
    }
    .vl {
        border-left: 1px solid var(--light-gray-color);
    }

    li {
        line-height: 30px;
        font-size: 1rem;
    }

    .contact-label {
        font-size: 1.2rem;
    }


    .directions-split > div:last-child {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .wvl {
        border-left: 1px solid var(--white-color);
    }

    #format-container {
        top: -100px;
        border-radius: 10px;
        border: 1px solid #d7d7d7;
        box-shadow: 8px 8px 20px 0px #C2C2C233;
    }

    .committee-container {
        padding: 1.5rem;
    }
    
    .committee-container div {
        margin-left: 1.5rem;
    }
    .theme-container {
        max-width: max-width: 460px;
    }
    
    .purple {
        padding: 2rem;
    }
    
    .q-container {
        padding: 1.1rem;
    }

    .q-text {
        font-size: 1.1rem;
    }
    
    .answer {
        padding-top: 1.1rem;
    }
    #rules-doc-mob {
        display: none;
    }
    .rules-option {
        font-size: 1rem;
        padding: 18px 10px;
    }
    .rules-block {
        padding: 1rem;
    }
    .map-container {
        width: 100%;
        max-height: 500px;
    }

    #entrance-container {
        top: 10vh;
        width: 600px;
    }

    .entrance-content {
        margin: 1rem 4rem 3rem 4rem;
    }

    .entrance-switch div:first-child {
        min-width: 200px;
    }

    .entrance-switch div:last-child {
        min-width: 260px;
    }
    
    .e-switch-always,
    .e-switch {
        font-size: 1.8rem;
    }
   
   .paragraph-e {
        font-size: 1.3rem;
    } 
    
}

@media (max-width: 800px) {

    #navigation-container {
        width: 100%;
        padding: 0 1rem;
    }
    .navigation-dropdown {
        padding: 1.5rem;
    }
    
    #navigation {
        display: none;
    }

    


    #header-section {
        min-height: 750px;
    }

    #header {
        flex-direction: column;
        padding: 1rem;
        padding-top: 8rem;
        min-height: fit-content;
        max-width: 500px;
        width: 100%;
        margin: auto; 
    }

    #header-box {
        max-width: 500px;
        width: 100%;
        margin: auto;
        margin-top: 2rem;
        padding: 0.5rem 1rem;
    }

    .header-label {
        font-weight: 400;
        font-size: 0.9rem;
    }

    #header-section-img {
        min-height: 750px;
    }

    #header-title {
        margin-bottom: 1.5rem;
    }

    #header-text {
        text-align: center;
        max-width: 430px;
        margin: auto;
    }

    #header-title .bold,
    #header-title {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .big-date {
        font-size: 0.9rem;
        line-height: 1.3rem;
    }

    #header-text .take-part-button {
        margin: auto;
    }

    .section-title {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 1.5rem;
    }

    .section-container {
        padding: 2rem 1rem 0 1rem;
    }

    .take-part-button {
        font-size: 16px;
        line-height: 16px;
        max-width: 300px;
    }

    .split-container-1 {
        flex-direction: column;
        margin-bottom: 0;
    }
   
    .rounded {
        border-radius: 0;
        border: none;
        box-shadow: none;
    } 

    .split-container-2 {
        margin-top: 0;
        padding: 1rem 0.5rem;
        flex-direction: column;
    }

    .paragraph-b {
        font-size: 0.9rem;
        line-height: 25px;
        margin-bottom: 1rem;
    }

    .paragraph-b .bold {
        font-size: 0.9rem;
    }

    .paragraph {
        font-size: 0.8rem;
        line-height: 25px;
        margin-bottom: 1rem;
    }

    .more-button {
        min-width: 250px;
        max-width: 250px;
        font-size: 15px;
        line-height: 15px;
    }

    .more-button-container {
        margin: auto;
        margin-top: 1.5rem;
        margin-bottom: 0;
    }
    
    .sub-title {
        font-size: 1.1rem;
    }

    .participants-split-2 > div:first-child .sub-title {
        font-size: 1.2rem;
    }

    .participants-split-2 {
        flex-direction: column;
    }

    .participants-split-3 {
        flex-direction: column;
        gap: 1rem;
    }

    .split-container-1 {
        margin-bottom: 3rem;
    }

    .split-container-2 {
        margin-top: -20px;
        padding: 2rem 1rem;
    }

    #passport-accent {
        font-size: 0.8rem;

    }
    .gray-container {
        border: none;
        border-radius: none;
    }

    .date-label {
        font-size: 1.1rem;
        margin-top: 0.5rem;
    }

    .participants-date {
        font-size: 0.9rem;
        
    }

    .gray-container > div:first-child {
        font-size: 1.4rem;
        margin-bottom: 1.8rem;
    }
    .vl {
        border-bottom: 1px solid var(--light-gray-color);
    }

    .iki-split {
        flex-direction: column-reverse;
        padding-top: 0;
    }
    
    #iki_bigger {
        display: none;
    }
    
    #iki_smaller {
        margin: auto;
    }

    .subsection-title {
        font-size: 1.2rem;  
    }

    .map-split {
        flex-direction: column;
    }

    .directions-split {
        flex-direction: column;
        margin-bottom: 4rem;
    }

    li {
        font-size: 0.9rem;
        line-height: 25px;
    }

    .map-split img {
        max-width: 100px;
    }

    .contact-label {
        font-size: 1rem;
    }

    .direction-split {
        margin-bottom: 4rem;
    }

    .directions-split > div:last-child {
        margin-top: 0;
        margin-bottom: 0;
    }


    #footer-content {
        flex-direction: column;
        max-width: fit-content;
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;

    }

    #footer-content img {
        max-width: 100px;
    }

    #other-header-container {
        height: 480px;
        padding-top: 100px;
    }

    #other-header-title {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .ohds-evenly,
    .ohds-2 {
        flex-direction: column;
        gap: 0;
        width: 100%;
        padding: 1rem 1rem 1rem 0;
    }

    .ohds-evenly div,
    .ohds-2 div {
        font-size: 0.8rem;
    }

    .wvl {
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid var(--white-color);
        width: 100px;
    }

    #format-container {
        top: 0;
        border: none;
        border-radius: 0;
        box-shadow: none;

    }

    #format-split {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .theme-split,
    #committee-split,
    #goal-split {
        flex-direction: column;
    }

    .committee-container {
        padding: 0.5rem;
    }

    .theme-container {
        max-width: 100%;
    }

    .purple {
        padding: 0.5rem;
    }
    
    .q-container {
        padding: 0.8rem;
    }

    .q-text {
        font-size: 1rem;
    }
    
    .answer {
        padding-top: 1rem;
    }

    .q-icon {
        max-width: 10px;
    }

    #rules-split {
        flex-direction: column;
    }

    #rules-doc {
        display: none;
    }

    .rules-option {
        font-size: 0.9rem;
        padding: 12px 8px;
    }
    .rules-block {
        padding: 1rem 0.7rem;

    }
    .rules-doc-text {
        max-width: 140px;
        margin: auto;
    }

    .rules-doc-button {
        max-width: 200px;
        margin: auto;
    }
    
    .rules-block * {
        font-size: 0.9rem;
        line-height: 1.2rem;
    }
    
    .map-container {
        width: 100%;
        max-height: 400px;
    }

    #entrance-container {
        top: 5vh;
        width: 100%;
    }

    .entrance-content {
        margin: 1rem 1rem 3rem 1rem;
    }
    
    .entrance-switch {
        max-width: 340px;
        margin: auto;
        margin-bottom: 1.5rem;
    }

    .entrance-switch div:first-child {
        min-width: 160px;

    }

    .entrance-switch div:last-child {
        min-width: 180px;
    }
    
    .e-switch-always,
    .e-switch {
        font-size: 1.1rem;
    }
   
   .paragraph-e {
        font-size: 1rem;
    } 
    

}



/* special cases */

@media (min-width: 850px) {
    #img-bkg-mob {
        display: none;
        position: relative;
        z-index: 15;
    }

    #img-bkg-full {
        display: block;
        position: relative;
        z-index: 15;
    }

    
}


@media (max-width: 850px) {
    #img-bkg-mob {
        display: block;
        position: relative;
        z-index: 15;
    }

    #img-bkg-full {
        display: none;
        position: relative;
        z-index: 15;
    }
}


@media (max-width: 780px) {

    .navigation-dropdown {
        flex-direction: column;

    }

}

@media (max-height: 800px) {
    
    #entrance-shade {
        height: 100vh;
        overflow-y: scroll;
    }
    #entrance-container {
        top: 0;
    }
}

/*
@media (max-height: 800px) {
    #entrance-container {
        top: 0;
    }
}

@media (max-height: 560px) {
    #login-block {
        height: 100vh;
        overflow-y: scroll;    
    }
}

@media (max-height: 720px) {
    #registration-block {
        height: 100vh;
        overflow-y: scroll;    
    }
}
*/
