#footer {
    background-color: var(--medium-color);
}

#footer-content {
    display: flex;
    gap: 3rem;
    
    padding: 2rem 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 1440px;
    margin: auto;
}

#footer-content > div {
    flex: 1;
    max-width: 450px;
}

.footer-links div {
    color: var(--white-color);
    margin-bottom: 1rem;
    text-align: center;
}

.footer-contacts * {
    color: var(--white-color);
}

.footer-contacts div {
    margin-bottom: 0.7rem;
}

.footer-label {
    font-weight: 700;
}

.footer-links div, 
.footer-contacts div,
.footer-contacts span {
    font-family: 'Roboto', sans-serif;
}

.footer-highlight {
    text-decoration: underline;
    font-weight: 500; 
}

#footer-sub {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 700;
    color: var(--white-color);
    
    padding: 0 1rem 3rem 1rem;
}

.footer-img-container {
    display: flex;
    justify-content: center;
    align-items: start;
}

#iki-footer {
    width: 200px;    
}

