.participants-split-1 {
    display: flex;
    max-width: 400px;
    gap: 1rem;
    margin-bottom: 2rem;
}

.ps-icon {
    width: 80px;
}

.participants-split-1 div {
    font-size: 0.9rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: var(--medium-color);
}

.participants-split-2 {
    display: flex;
    gap: 1.5rem;

}

.participants-split-2 > div:first-child {
    padding: 1rem;
    border: 1px solid var(--dark-color);
    border-radius: 5px;
}


.participants-split-2 > div:last-child {
    padding: 1rem;
    border: 1px solid var(--light-gray-color);
    border-radius: 5px;
}

.participants-split-2 > div:first-child .sub-title {
    font-weight: 700;
}

.participants-split-2 > div:last-child .sub-title {
    font-weight: 500;
}

.participants-split-3 {
    display: flex;
    justify-content: space-evenly;
}


.gray-container {
    font-family: 'Roboto', sans-serif;
    margin-top: 3rem;
    background-color: #F5F5F5;
    padding: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.gray-container > div:first-child {
   color: var(--medium-color);
   font-weight: 700;
}

.date-label {
   color: var(--medium-color);
   font-weight: 700;
}

#passport-accent {
    text-transform: uppercase;
    color: var(--dark-color);
    font-weight: 500;
}

.purple {
    background-color: #F1E7FB;
    border-radius: 10px;
}


.purple .paragraph-b {
    margin-bottom: 0.2rem;
}

#rules-split {
   display: flex;
   gap: 0 2rem;
}

#ruless-split div {
    flex: 1;
}

.rules-option {
    font-family: "Roboto", sans-serif;
    background-color: var(--white-color);
    color: var(--medium-color);
    border-radius: 4px;
    text-align: center;
    transition: border 0.5s;
    border: 1px solid var(--medium-color);
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.rules-option:hover,
.rules-option-selected {
    transition: all 0.5s;
    background-color: var(--medium-color);
    color: var(--white-color);
    font-weight: 600;
}

.rules-doc-split {
    display: flex;
    gap: 1rem;
    font-family: "Roboto", sans-serif;
}

.rules-doc-split div {
    text-align: center;
    padding: 0.5rem;
    flex: 1;
}

.rules-doc-img {
    max-width: fit-content;
    margin: auto;
}

.rules-doc-text {
    font-size: 0.8rem;
    font-weight: 600;
}

.rules-doc-button {
    background-color: var(--dark-color);
    color: var(--white-color);
    text-align: center;
    text-transform: uppercase;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
}

.rules-block {
    background-color: #f5f5f5;
    margin-bottom: 1rem; 
}

.rules-block * {
    font-family: 'Roboto', sans-serif;
}


.rules-bold {
    font-weight: 700;
}

.rmt {
    margin-top: 1rem;
}

.q-container {
    border: 1px solid #eee;
}


.question {
    cursor: pointer;
    display: flex;
    flex-direction: horizontal;
    flex-wrap: nowrap;
    gap: 1rem;
    
}

.q-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: var(--dark-color);
}

.q-icon {
    width: 15px;        
}

.q-icon-reversed {
    transition: all 0.2s;
    transform: rotate(180deg);
}

.answer {
    transition: all 0.2s;
    opacity: 1;
    height: auto;
}

.answer-hidden {
    transition: all 0.2s;
    opacity: 0;
    height: 0;
    overflow: hidden;
    padding-top: 0;
}




