.rules-doc-container {
    width: 250px;
    max-width: 250px;
}

.gen-doc-split {
    display: flex;
    gap: 0.7rem;
    align-items: center;
    max-width: 300px;
}

.gen-doc-split .paragraph {
    margin-bottom: 0;
}

.gen-doc-split img {
    max-width: 20px;
}

.gen-gen-split {
    display: flex;
    gap: 2rem;
    margin-bottom: 4rem;
}

.second-container {
    padding-top: 2rem;
}

.paragraph {
    margin-bottom: 0;
}

.days-switch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #737373;
}

.day-switch {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #737373;
    font-size: 1.6rem;
    text-align: center;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    padding: 0.2rem 6rem;
}

.day-switch-chosen {
    color: var(--medium-color);
    font-weight: 600;
    border-bottom: 2px solid var(--medium-color);
}

.broadcast-link-split,
.timetable-doc-split {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-family: "Roboto", sans-serif;
}

.timetable-doc-split {
    margin-bottom: 2rem;
}

.timetable-doc-split div {
    text-align: center;
    padding: 0.5rem;
    flex: 1;
}

.broadcast-link-split div {
    font-size: 0.9rem;
}

.pad-both {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (max-width: 700px) {
    .timetable-doc-split {
        display: block;
    }

}

@media (min-width: 800px) and (max-width: 1230px) {
    .days-switch {
        max-width: 90%;
        margin: auto;
        margin-bottom: 1.5rem;
    }

    .day-switch {
        font-size: 1rem;
        padding: 0.2rem 3rem;
    }
}

@media (max-width: 800px) {

    .day-switch {
        font-size: 0.8rem;
        padding: 0.5rem;
        max-width: 250px;
    }
    .broadcast-link-split {
        flex-direction: column;
    }
}


