.night-sky {
  display: block;
  position: absolute;
  background: transparent;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.star {
  width: 2px;
  height: 2px;
  background: #af99ff;
  box-shadow: 0 0 3px #af99ff;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
}

.twinkle-star-1 {
  width: 2px;
  height: 2px;
  left: 92%;
  top: 18%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.19565217s;
}

.twinkle-star-2 {
  width: 2px;
  height: 2px;
  left: 40%;
  top: 43%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 1.075s;
}

.twinkle-star-3 {
  width: 3px;
  height: 3px;
  left: 52%;
  top: 44%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.84615385s;
}

.twinkle-star-4 {
  width: 3px;
  height: 3px;
  left: 58%;
  top: 12%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.20689655s;
}

.twinkle-star-5 {
  width: 2px;
  height: 2px;
  left: 55%;
  top: 42%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.76363636s;
}

.twinkle-star-6 {
  width: 3px;
  height: 3px;
  left: 96%;
  top: 33%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.34375s;
}

.twinkle-star-7 {
  width: 2px;
  height: 2px;
  left: 52%;
  top: 14%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.26923077s;
}

.twinkle-star-8 {
  width: 3px;
  height: 3px;
  left: 24%;
  top: 97%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 4.04166667s;
}

.twinkle-star-9 {
  width: 3px;
  height: 3px;
  left: 88%;
  top: 67%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.76136364s;
}

.twinkle-star-10 {
  width: 2px;
  height: 2px;
  left: 90%;
  top: 19%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.21111111s;
}

.twinkle-star-11 {
  width: 3px;
  height: 3px;
  left: 20%;
  top: 55%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 2.75s;
}

.twinkle-star-12 {
  width: 2px;
  height: 2px;
  left: 3%;
  top: 81%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 27s;
}

.twinkle-star-13 {
  width: 2px;
  height: 2px;
  left: 40%;
  top: 97%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 2.425s;
}

.twinkle-star-14 {
  width: 3px;
  height: 3px;
  left: 15%;
  top: 96%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 6.4s;
}

.twinkle-star-15 {
  width: 2px;
  height: 2px;
  left: 40%;
  top: 23%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.575s;
}

.twinkle-star-16 {
  width: 2px;
  height: 2px;
  left: 62%;
  top: 41%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.66129032s;
}

.twinkle-star-17 {
  width: 3px;
  height: 3px;
  left: 52%;
  top: 43%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.82692308s;
}

.twinkle-star-18 {
  width: 2px;
  height: 2px;
  left: 65%;
  top: 63%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.96923077s;
}

.twinkle-star-19 {
  width: 3px;
  height: 3px;
  left: 45%;
  top: 45%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 1s;
}

.twinkle-star-20 {
  width: 3px;
  height: 3px;
  left: 55%;
  top: 11%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.2s;
}

.twinkle-star-21 {
  width: 2px;
  height: 2px;
  left: 65%;
  top: 71%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 1.09230769s;
}

.twinkle-star-22 {
  width: 2px;
  height: 2px;
  left: 13%;
  top: 37%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 2.84615385s;
}

.twinkle-star-23 {
  width: 2px;
  height: 2px;
  left: 99%;
  top: 47%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.47474747s;
}

.twinkle-star-24 {
  width: 3px;
  height: 3px;
  left: 15%;
  top: 42%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 2.8s;
}

.twinkle-star-25 {
  width: 2px;
  height: 2px;
  left: 96%;
  top: 97%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 1.01041667s;
}

.twinkle-star-26 {
  width: 2px;
  height: 2px;
  left: 87%;
  top: 20%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.22988506s;
}

.twinkle-star-27 {
  width: 2px;
  height: 2px;
  left: 92%;
  top: 80%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.86956522s;
}

.twinkle-star-28 {
  width: 3px;
  height: 3px;
  left: 52%;
  top: 85%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 1.63461538s;
}

.twinkle-star-29 {
  width: 2px;
  height: 2px;
  left: 76%;
  top: 41%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.53947368s;
}

.twinkle-star-30 {
  width: 3px;
  height: 3px;
  left: 85%;
  top: 95%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 1.11764706s;
}

.twinkle-star-31 {
  width: 2px;
  height: 2px;
  left: 29%;
  top: 48%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 1.65517241s;
}

.twinkle-star-32 {
  width: 3px;
  height: 3px;
  left: 13%;
  top: 35%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 2.69230769s;
}

.twinkle-star-33 {
  width: 3px;
  height: 3px;
  left: 93%;
  top: 1%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.01075269s;
}

.twinkle-star-34 {
  width: 3px;
  height: 3px;
  left: 30%;
  top: 44%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 1.46666667s;
}

.twinkle-star-35 {
  width: 3px;
  height: 3px;
  left: 18%;
  top: 86%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 4.77777778s;
}

.twinkle-star-36 {
  width: 3px;
  height: 3px;
  left: 37%;
  top: 2%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.05405405s;
}

.twinkle-star-37 {
  width: 2px;
  height: 2px;
  left: 52%;
  top: 60%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 1.15384615s;
}

.twinkle-star-38 {
  width: 2px;
  height: 2px;
  left: 63%;
  top: 54%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.85714286s;
}

.twinkle-star-39 {
  width: 2px;
  height: 2px;
  left: 6%;
  top: 84%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 14s;
}

.twinkle-star-40 {
  width: 3px;
  height: 3px;
  left: 40%;
  top: 9%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.225s;
}

.twinkle-star-41 {
  width: 2px;
  height: 2px;
  left: 83%;
  top: 95%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 1.14457831s;
}

.twinkle-star-42 {
  width: 3px;
  height: 3px;
  left: 86%;
  top: 17%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.19767442s;
}

.twinkle-star-43 {
  width: 3px;
  height: 3px;
  left: 86%;
  top: 81%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.94186047s;
}

.twinkle-star-44 {
  width: 3px;
  height: 3px;
  left: 100%;
  top: 1%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.01s;
}

.twinkle-star-45 {
  width: 2px;
  height: 2px;
  left: 12%;
  top: 46%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 3.83333333s;
}

.twinkle-star-46 {
  width: 3px;
  height: 3px;
  left: 33%;
  top: 4%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.12121212s;
}

.twinkle-star-47 {
  width: 2px;
  height: 2px;
  left: 82%;
  top: 80%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.97560976s;
}

.twinkle-star-48 {
  width: 2px;
  height: 2px;
  left: 19%;
  top: 20%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 1.05263158s;
}

.twinkle-star-49 {
  width: 2px;
  height: 2px;
  left: 74%;
  top: 93%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 1.25675676s;
}

.twinkle-star-50 {
  width: 2px;
  height: 2px;
  left: 54%;
  top: 32%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.59259259s;
}

.twinkle-star-51 {
  width: 3px;
  height: 3px;
  left: 5%;
  top: 38%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 7.6s;
}

.twinkle-star-52 {
  width: 3px;
  height: 3px;
  left: 4%;
  top: 48%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 12s;
}

.twinkle-star-53 {
  width: 2px;
  height: 2px;
  left: 18%;
  top: 98%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 5.44444444s;
}

.twinkle-star-54 {
  width: 3px;
  height: 3px;
  left: 20%;
  top: 18%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.9s;
}

.twinkle-star-55 {
  width: 3px;
  height: 3px;
  left: 44%;
  top: 71%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 1.61363636s;
}

.twinkle-star-56 {
  width: 2px;
  height: 2px;
  left: 57%;
  top: 93%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 1.63157895s;
}

.twinkle-star-57 {
  width: 3px;
  height: 3px;
  left: 41%;
  top: 76%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 1.85365854s;
}

.twinkle-star-58 {
  width: 3px;
  height: 3px;
  left: 1%;
  top: 67%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 67s;
}

.twinkle-star-59 {
  width: 2px;
  height: 2px;
  left: 49%;
  top: 48%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.97959184s;
}

.twinkle-star-60 {
  width: 3px;
  height: 3px;
  left: 3%;
  top: 80%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 26.66666667s;
}

.twinkle-star-61 {
  width: 3px;
  height: 3px;
  left: 39%;
  top: 57%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 1.46153846s;
}

.twinkle-star-62 {
  width: 3px;
  height: 3px;
  left: 41%;
  top: 97%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 2.36585366s;
}

.twinkle-star-63 {
  width: 2px;
  height: 2px;
  left: 60%;
  top: 62%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 1.03333333s;
}

.twinkle-star-64 {
  width: 2px;
  height: 2px;
  left: 93%;
  top: 35%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.37634409s;
}

.twinkle-star-65 {
  width: 3px;
  height: 3px;
  left: 84%;
  top: 56%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.66666667s;
}

.twinkle-star-66 {
  width: 3px;
  height: 3px;
  left: 87%;
  top: 93%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 1.06896552s;
}

.twinkle-star-67 {
  width: 3px;
  height: 3px;
  left: 84%;
  top: 50%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.5952381s;
}

.twinkle-star-68 {
  width: 3px;
  height: 3px;
  left: 95%;
  top: 53%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.55789474s;
}

.twinkle-star-69 {
  width: 3px;
  height: 3px;
  left: 54%;
  top: 91%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 1.68518519s;
}

.twinkle-star-70 {
  width: 2px;
  height: 2px;
  left: 82%;
  top: 77%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.93902439s;
}

.twinkle-star-71 {
  width: 3px;
  height: 3px;
  left: 64%;
  top: 19%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.296875s;
}

.twinkle-star-72 {
  width: 3px;
  height: 3px;
  left: 37%;
  top: 39%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 1.05405405s;
}

.twinkle-star-73 {
  width: 3px;
  height: 3px;
  left: 61%;
  top: 55%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.90163934s;
}

.twinkle-star-74 {
  width: 3px;
  height: 3px;
  left: 79%;
  top: 79%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 1s;
}

.twinkle-star-75 {
  width: 3px;
  height: 3px;
  left: 23%;
  top: 94%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 4.08695652s;
}

.twinkle-star-76 {
  width: 2px;
  height: 2px;
  left: 21%;
  top: 7%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.33333333s;
}

.twinkle-star-77 {
  width: 2px;
  height: 2px;
  left: 77%;
  top: 91%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 1.18181818s;
}

.twinkle-star-78 {
  width: 3px;
  height: 3px;
  left: 70%;
  top: 15%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.21428571s;
}

.twinkle-star-79 {
  width: 3px;
  height: 3px;
  left: 52%;
  top: 57%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 1.09615385s;
}

.twinkle-star-80 {
  width: 3px;
  height: 3px;
  left: 35%;
  top: 61%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 1.74285714s;
}

.twinkle-star-81 {
  width: 3px;
  height: 3px;
  left: 33%;
  top: 84%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 2.54545455s;
}

.twinkle-star-82 {
  width: 2px;
  height: 2px;
  left: 73%;
  top: 63%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.8630137s;
}

.twinkle-star-83 {
  width: 3px;
  height: 3px;
  left: 24%;
  top: 76%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 3.16666667s;
}

.twinkle-star-84 {
  width: 3px;
  height: 3px;
  left: 23%;
  top: 2%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.08695652s;
}

.twinkle-star-85 {
  width: 2px;
  height: 2px;
  left: 63%;
  top: 63%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 1s;
}

.twinkle-star-86 {
  width: 2px;
  height: 2px;
  left: 33%;
  top: 2%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.06060606s;
}

.twinkle-star-87 {
  width: 2px;
  height: 2px;
  left: 80%;
  top: 24%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.3s;
}

.twinkle-star-88 {
  width: 3px;
  height: 3px;
  left: 87%;
  top: 5%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.05747126s;
}

.twinkle-star-89 {
  width: 2px;
  height: 2px;
  left: 5%;
  top: 43%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 8.6s;
}

.twinkle-star-90 {
  width: 2px;
  height: 2px;
  left: 62%;
  top: 45%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.72580645s;
}

.twinkle-star-91 {
  width: 3px;
  height: 3px;
  left: 23%;
  top: 2%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.08695652s;
}

.twinkle-star-92 {
  width: 2px;
  height: 2px;
  left: 89%;
  top: 39%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.43820225s;
}

.twinkle-star-93 {
  width: 2px;
  height: 2px;
  left: 25%;
  top: 86%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 3.44s;
}

.twinkle-star-94 {
  width: 3px;
  height: 3px;
  left: 75%;
  top: 88%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 1.17333333s;
}

.twinkle-star-95 {
  width: 3px;
  height: 3px;
  left: 50%;
  top: 70%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 1.4s;
}

.twinkle-star-96 {
  width: 2px;
  height: 2px;
  left: 33%;
  top: 46%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 1.39393939s;
}

.twinkle-star-97 {
  width: 3px;
  height: 3px;
  left: 46%;
  top: 36%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.7826087s;
}

.twinkle-star-98 {
  width: 2px;
  height: 2px;
  left: 75%;
  top: 25%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.33333333s;
}

.twinkle-star-99 {
  width: 2px;
  height: 2px;
  left: 17%;
  top: 4%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.23529412s;
}

.twinkle-star-100 {
  width: 3px;
  height: 3px;
  left: 41%;
  top: 97%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 2.36585366s;
}

.twinkle-star-101 {
  width: 2px;
  height: 2px;
  left: 24%;
  top: 97%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 4.04166667s;
}

.twinkle-star-102 {
  width: 3px;
  height: 3px;
  left: 23%;
  top: 71%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 3.08695652s;
}

.twinkle-star-103 {
  width: 3px;
  height: 3px;
  left: 34%;
  top: 90%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 2.64705882s;
}

.twinkle-star-104 {
  width: 3px;
  height: 3px;
  left: 94%;
  top: 35%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.37234043s;
}

.twinkle-star-105 {
  width: 3px;
  height: 3px;
  left: 18%;
  top: 57%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 3.16666667s;
}

.twinkle-star-106 {
  width: 3px;
  height: 3px;
  left: 89%;
  top: 29%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.3258427s;
}

.twinkle-star-107 {
  width: 3px;
  height: 3px;
  left: 94%;
  top: 52%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.55319149s;
}

.twinkle-star-108 {
  width: 3px;
  height: 3px;
  left: 64%;
  top: 14%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.21875s;
}

.twinkle-star-109 {
  width: 3px;
  height: 3px;
  left: 36%;
  top: 77%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 2.13888889s;
}

.twinkle-star-110 {
  width: 2px;
  height: 2px;
  left: 19%;
  top: 46%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 2.42105263s;
}

.twinkle-star-111 {
  width: 2px;
  height: 2px;
  left: 21%;
  top: 77%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 3.66666667s;
}

.twinkle-star-112 {
  width: 2px;
  height: 2px;
  left: 87%;
  top: 75%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.86206897s;
}

.twinkle-star-113 {
  width: 3px;
  height: 3px;
  left: 43%;
  top: 86%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 2s;
}

.twinkle-star-114 {
  width: 3px;
  height: 3px;
  left: 79%;
  top: 22%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.27848101s;
}

.twinkle-star-115 {
  width: 2px;
  height: 2px;
  left: 97%;
  top: 26%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.26804124s;
}

.twinkle-star-116 {
  width: 3px;
  height: 3px;
  left: 50%;
  top: 72%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 1.44s;
}

.twinkle-star-117 {
  width: 3px;
  height: 3px;
  left: 43%;
  top: 33%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.76744186s;
}

.twinkle-star-118 {
  width: 2px;
  height: 2px;
  left: 87%;
  top: 48%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.55172414s;
}

.twinkle-star-119 {
  width: 3px;
  height: 3px;
  left: 27%;
  top: 48%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 1.77777778s;
}

.twinkle-star-120 {
  width: 2px;
  height: 2px;
  left: 90%;
  top: 24%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.26666667s;
}

.twinkle-star-121 {
  width: 3px;
  height: 3px;
  left: 2%;
  top: 48%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 24s;
}

.twinkle-star-122 {
  width: 3px;
  height: 3px;
  left: 2%;
  top: 41%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 20.5s;
}

.twinkle-star-123 {
  width: 2px;
  height: 2px;
  left: 8%;
  top: 58%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 7.25s;
}

.twinkle-star-124 {
  width: 3px;
  height: 3px;
  left: 7%;
  top: 70%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 10s;
}

.twinkle-star-125 {
  width: 2px;
  height: 2px;
  left: 61%;
  top: 5%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.08196721s;
}

.twinkle-star-126 {
  width: 3px;
  height: 3px;
  left: 34%;
  top: 21%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.61764706s;
}

.twinkle-star-127 {
  width: 3px;
  height: 3px;
  left: 12%;
  top: 89%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 7.41666667s;
}

.twinkle-star-128 {
  width: 3px;
  height: 3px;
  left: 50%;
  top: 18%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.36s;
}

.twinkle-star-129 {
  width: 3px;
  height: 3px;
  left: 78%;
  top: 70%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.8974359s;
}

.twinkle-star-130 {
  width: 2px;
  height: 2px;
  left: 91%;
  top: 99%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 1.08791209s;
}

.twinkle-star-131 {
  width: 2px;
  height: 2px;
  left: 68%;
  top: 45%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.66176471s;
}

.twinkle-star-132 {
  width: 3px;
  height: 3px;
  left: 7%;
  top: 83%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 11.85714286s;
}

.twinkle-star-133 {
  width: 3px;
  height: 3px;
  left: 34%;
  top: 53%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 1.55882353s;
}

.twinkle-star-134 {
  width: 2px;
  height: 2px;
  left: 34%;
  top: 8%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.23529412s;
}

.twinkle-star-135 {
  width: 3px;
  height: 3px;
  left: 19%;
  top: 49%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 2.57894737s;
}

.twinkle-star-136 {
  width: 2px;
  height: 2px;
  left: 3%;
  top: 72%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 24s;
}

.twinkle-star-137 {
  width: 3px;
  height: 3px;
  left: 93%;
  top: 2%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.02150538s;
}

.twinkle-star-138 {
  width: 2px;
  height: 2px;
  left: 63%;
  top: 17%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.26984127s;
}

.twinkle-star-139 {
  width: 3px;
  height: 3px;
  left: 74%;
  top: 79%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 1.06756757s;
}

.twinkle-star-140 {
  width: 3px;
  height: 3px;
  left: 32%;
  top: 7%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.21875s;
}

.twinkle-star-141 {
  width: 2px;
  height: 2px;
  left: 26%;
  top: 76%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 2.92307692s;
}

.twinkle-star-142 {
  width: 3px;
  height: 3px;
  left: 78%;
  top: 97%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 1.24358974s;
}

.twinkle-star-143 {
  width: 2px;
  height: 2px;
  left: 36%;
  top: 35%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.97222222s;
}

.twinkle-star-144 {
  width: 2px;
  height: 2px;
  left: 89%;
  top: 68%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.76404494s;
}

.twinkle-star-145 {
  width: 2px;
  height: 2px;
  left: 45%;
  top: 97%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 2.15555556s;
}

.twinkle-star-146 {
  width: 3px;
  height: 3px;
  left: 16%;
  top: 46%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 2.875s;
}

.twinkle-star-147 {
  width: 2px;
  height: 2px;
  left: 93%;
  top: 11%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.11827957s;
}

.twinkle-star-148 {
  width: 3px;
  height: 3px;
  left: 70%;
  top: 66%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.94285714s;
}

.twinkle-star-149 {
  width: 3px;
  height: 3px;
  left: 84%;
  top: 47%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.55952381s;
}

.twinkle-star-150 {
  width: 3px;
  height: 3px;
  left: 4%;
  top: 81%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 20.25s;
}

.twinkle-star-151 {
  width: 3px;
  height: 3px;
  left: 3%;
  top: 100%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 33.33333333s;
}

.twinkle-star-152 {
  width: 3px;
  height: 3px;
  left: 98%;
  top: 3%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.03061224s;
}

.twinkle-star-153 {
  width: 2px;
  height: 2px;
  left: 66%;
  top: 75%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 1.13636364s;
}

.twinkle-star-154 {
  width: 3px;
  height: 3px;
  left: 48%;
  top: 74%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 1.54166667s;
}

.twinkle-star-155 {
  width: 2px;
  height: 2px;
  left: 58%;
  top: 37%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.63793103s;
}

.twinkle-star-156 {
  width: 3px;
  height: 3px;
  left: 59%;
  top: 30%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.50847458s;
}

.twinkle-star-157 {
  width: 2px;
  height: 2px;
  left: 87%;
  top: 67%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.77011494s;
}

.twinkle-star-158 {
  width: 2px;
  height: 2px;
  left: 2%;
  top: 29%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 14.5s;
}

.twinkle-star-159 {
  width: 2px;
  height: 2px;
  left: 13%;
  top: 98%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 7.53846154s;
}

.twinkle-star-160 {
  width: 2px;
  height: 2px;
  left: 14%;
  top: 20%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 1.42857143s;
}

.twinkle-star-161 {
  width: 2px;
  height: 2px;
  left: 62%;
  top: 8%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.12903226s;
}

.twinkle-star-162 {
  width: 3px;
  height: 3px;
  left: 17%;
  top: 44%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 2.58823529s;
}

.twinkle-star-163 {
  width: 2px;
  height: 2px;
  left: 56%;
  top: 75%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 1.33928571s;
}

.twinkle-star-164 {
  width: 2px;
  height: 2px;
  left: 1%;
  top: 17%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 17s;
}

.twinkle-star-165 {
  width: 2px;
  height: 2px;
  left: 70%;
  top: 50%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.71428571s;
}

.twinkle-star-166 {
  width: 2px;
  height: 2px;
  left: 97%;
  top: 48%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.49484536s;
}

.twinkle-star-167 {
  width: 3px;
  height: 3px;
  left: 33%;
  top: 38%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 1.15151515s;
}

.twinkle-star-168 {
  width: 2px;
  height: 2px;
  left: 31%;
  top: 28%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.90322581s;
}

.twinkle-star-169 {
  width: 2px;
  height: 2px;
  left: 7%;
  top: 72%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 10.28571429s;
}

.twinkle-star-170 {
  width: 3px;
  height: 3px;
  left: 4%;
  top: 85%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 21.25s;
}

.twinkle-star-171 {
  width: 2px;
  height: 2px;
  left: 76%;
  top: 32%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.42105263s;
}

.twinkle-star-172 {
  width: 3px;
  height: 3px;
  left: 4%;
  top: 87%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 21.75s;
}

.twinkle-star-173 {
  width: 3px;
  height: 3px;
  left: 96%;
  top: 28%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.29166667s;
}

.twinkle-star-174 {
  width: 2px;
  height: 2px;
  left: 84%;
  top: 98%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 1.16666667s;
}

.twinkle-star-175 {
  width: 2px;
  height: 2px;
  left: 69%;
  top: 76%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 1.10144928s;
}

.twinkle-star-176 {
  width: 2px;
  height: 2px;
  left: 83%;
  top: 77%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.92771084s;
}

.twinkle-star-177 {
  width: 2px;
  height: 2px;
  left: 89%;
  top: 21%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.23595506s;
}

.twinkle-star-178 {
  width: 3px;
  height: 3px;
  left: 92%;
  top: 77%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.83695652s;
}

.twinkle-star-179 {
  width: 3px;
  height: 3px;
  left: 1%;
  top: 67%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 67s;
}

.twinkle-star-180 {
  width: 3px;
  height: 3px;
  left: 63%;
  top: 47%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.74603175s;
}

.twinkle-star-181 {
  width: 3px;
  height: 3px;
  left: 77%;
  top: 20%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.25974026s;
}

.twinkle-star-182 {
  width: 3px;
  height: 3px;
  left: 14%;
  top: 2%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.14285714s;
}

.twinkle-star-183 {
  width: 2px;
  height: 2px;
  left: 28%;
  top: 31%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 1.10714286s;
}

.twinkle-star-184 {
  width: 2px;
  height: 2px;
  left: 20%;
  top: 15%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.75s;
}

.twinkle-star-185 {
  width: 3px;
  height: 3px;
  left: 49%;
  top: 79%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 1.6122449s;
}

.twinkle-star-186 {
  width: 2px;
  height: 2px;
  left: 9%;
  top: 32%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 3.55555556s;
}

.twinkle-star-187 {
  width: 3px;
  height: 3px;
  left: 24%;
  top: 43%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 1.79166667s;
}

.twinkle-star-188 {
  width: 2px;
  height: 2px;
  left: 23%;
  top: 14%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.60869565s;
}

.twinkle-star-189 {
  width: 3px;
  height: 3px;
  left: 72%;
  top: 68%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.94444444s;
}

.twinkle-star-190 {
  width: 2px;
  height: 2px;
  left: 12%;
  top: 16%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 1.33333333s;
}

.twinkle-star-191 {
  width: 3px;
  height: 3px;
  left: 65%;
  top: 92%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 1.41538462s;
}

.twinkle-star-192 {
  width: 3px;
  height: 3px;
  left: 39%;
  top: 64%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 1.64102564s;
}

.twinkle-star-193 {
  width: 3px;
  height: 3px;
  left: 80%;
  top: 80%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 1s;
}

.twinkle-star-194 {
  width: 3px;
  height: 3px;
  left: 32%;
  top: 7%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.21875s;
}

.twinkle-star-195 {
  width: 2px;
  height: 2px;
  left: 42%;
  top: 61%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 1.45238095s;
}

.twinkle-star-196 {
  width: 2px;
  height: 2px;
  left: 64%;
  top: 2%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 0.03125s;
}

.twinkle-star-197 {
  width: 3px;
  height: 3px;
  left: 5%;
  top: 35%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 7s;
}

.twinkle-star-198 {
  width: 2px;
  height: 2px;
  left: 23%;
  top: 49%;
  animation: twinkle 1s alternate infinite;
  animation-delay: 2.13043478s;
}

.twinkle-star-199 {
  width: 3px;
  height: 3px;
  left: 95%;
  top: 20%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 0.21052632s;
}

.twinkle-star-200 {
  width: 3px;
  height: 3px;
  left: 67%;
  top: 90%;
  animation: twinkle 1.5s alternate infinite;
  animation-delay: 1.34328358s;
}

@keyframes twinkle {
  0% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
