{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% trans "КМУ 2026" %}</title>

    <link rel="stylesheet" href="{% static 'conference/declarations.css' %}?v={{ static_version }}"/>
    <link rel="stylesheet" href="{% static 'conference/fonts.css' %}?v={{ static_version }}"/>
    <link rel="stylesheet" href="{% static 'conference/base.css' %}?v={{ static_version }}"/>
    <link rel="stylesheet" href="{% static 'conference/navigation.css' %}?v={{ static_version }}"/>
    <link rel="stylesheet" href="{% static 'conference/entrance.css' %}?v={{ static_version }}"/>
    <link rel="stylesheet" href="{% static 'users/entrance_forms.css' %}?v={{ static_version }}"/>
    <link rel="stylesheet" href="{% static 'conference/footer.css' %}?v={{ static_version }}"/>
    <link rel="stylesheet" href="{% static 'conference/tech.css' %}?v={{ static_version }}"/>
    <link rel="stylesheet" href="{% static 'conference/dimensions.css' %}?v={{ static_version }}"/>


    <link rel="icon" type="image/png" href="{% static 'conference/favicon/favicon.ico' %}?v={{ static_version }}"/>


    {% block page_css %}{% endblock %}


</head>
<body>
{% include 'conference/navigation.html' %}
{% include 'conference/entrance.html' %}


<div class="page-container">
    {% block page %}
    {% endblock %}
</div>


{% include "conference/footer.html"  %}

    <script src="{% static 'conference/main_pages.js' %}?v={{ static_version }}"></script>
    <script src="{% static 'htmx.min.js' %}?v={{ static_version }}"></script>

    <script>

        htmx.logAll();

        document.addEventListener("DOMContentLoaded", (event) => {

            entranceEl = document.getElementById('entrance-shade');
            if (entranceEl) {
            
                htmx.ajax('GET', "{%  url 'register' %}", { target: '#registration-form-container', swap: 'innerHTML', source: '#registration-form-container'});
            
                htmx.ajax('GET', "{%  url 'login' %}", { target: '#login-form-container', swap: 'innerHTML', source: '#login-form-container'});
                htmx.ajax('GET', "{%  url 'reset_password' %}", { target: '#password-reset-form-container', swap: 'innerHTML', source: '#password-reset-form-container'});
            } else {
                console.log("no entrance shade");
            }
        });

    </script>

</body>
</html>
