.form-container {
    box-sizing: border-box;
    border: 1px solid var(--medium-color);
    border-radius: 4px;
    box-shadow: 8px 8px 10px #1A40FE33;
    padding: 30px 20px;
    width: 460px;
}

.field-label {
    color: var(--font-color);
    font-size: 19px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 0.2rem;
}

.field-error {
    margin-top: 0.3rem;
    color: var(--red-color);
    font-size: 13px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

.red-border {
    border: 1px solid var(--red-color);
}


.field {
    width: 100%;
}

.field-split {
    margin-top: 2rem;
    display: flex;
    align-items: start;
    flex-wrap: nowrap;
    gap: 0.5rem;
}

.agreement-text {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    cursor: pointer;
}

.submit-button {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--medium-color);
    color: var(--white-color);
    border-radius: 4px;
    text-align: center;
    padding: 1.3rem;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid var(--medium-color);
    transition: background-color color border 0.5s;
}

.submit-button:hover {
    transition: all 0.5s;
    background-color: var(--white-color);
    color: var(--medium-color);
    border: 1px solid var(--medium-color);
}

.inactive {
    pointer-events: none;
    background-color: var(--light-gray-color);
    color: var(--font-color);
    border: 1px solid var(--gray-color);

}


input,
textarea {
    box-sizing: border-box;
    display: block;
    border: 1px solid var(--gray-color);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    font-family: "Roboto", sans-serif;
    color: var(--font-color);
    padding: 13px 10px;
    width: 100%;
    transition: border 0.5s;
}


input::placeholder,
textarea::placeholder {
    font-size: 16px;
    color: var(--gray-color);
    font-weight: 400; 
}

input:focus,
textarea:focus {
    outline: none;
    transition: border 0.5s;
    border: 1px solid var(--font-color);
}

#id_data_check {
    cursor: pointer;
}

textarea {
    resize: vertical;
    min-height: 120px;
    height: 120px;
    max-height: 300px;

}


#success-container div {
    text-align: center;
}

#success-container .reg-text {
    width: 60%;
    margin: auto;
    line-height: 32px;
}

#success-message {
    font-family: "PlayfairDisplay", serif;
    font-size: 30px;
    font-weight: bold;
    color: var(--medium-color);
    margin-bottom: 0.7rem;

}


