<div class="form-container" id="form-container">

{% if success %}

<div id="success-container">
    <div id="success-message">ФОРМА УСПЕШНО ОТПРАВЛЕНА!</div>
    <div class="reg-text">Мы вышлем уведомление об <span class="accent">открытии регистрации</span> на указанный вами e-mail.</div>
</div>

{% else %}

<form id="form-element" autocomplete="off" hx-post="{% url 'contact' %}" hx-target="#form-container" hx-trigger="click from:#submit-button" hx-swap="outerHTML">
    {% csrf_token %}
    <div class="field-label">{{ form.email.label }}*</div>
    <div class="field">{{ form.email }}</div>
    <div class="field-error" id="field-email-error">{{ form.email.errors.as_text }}</div>
    <br>
    <div class="field-label">{{ form.comment.label }}</div>
    <div class="field">{{ form.comment }}</div>
    <br>
    <div class="field-split">
        <div>{{ form.data_check }}</div>
        <div><label for="id_data_check" class="agreement-text">Даю согласие на <a href="{% url 'get_agreement' %}" target="_blank" class="underlined-accent">обработку персональных данных</a></label></div>
    </div>
    <div class="field-error" id="field-data-check-error">{{ form.data_check.errors.as_text }}</div>
    <br>
    <div id="submit-button" class="submit-button {% if form.data_check.value %}{% else %}inactive{% endif %}">ОТПРАВИТЬ</div>

</form>

{% endif %}

</div>
