{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>КМУ 2026</title>
    <link rel="stylesheet" href="{% static 'landing/declarations.css' %}">
    <link rel="stylesheet" href="{% static 'landing/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'landing/test_page.css' %}">
    <link rel="stylesheet" href="{% static 'landing/form.css' %}">
    <link rel="stylesheet" href="{% static 'landing/dimensions.css' %}">
    
    <link rel="stylesheet" href="{% static 'landing/sass_compiled/sky.css' %}">

    <link rel="icon" type="image/png" href="{% static 'landing/favicon/favicon.ico' %}"/> 

</head>
<body>

    <div id="m-nav-shade" hidden onclick="exceptChangeVisibility('m-nav-shade');"> 
        <div id="m-nav-dropdown">
            <div id="m-nav-logo"><img class="img-container" src="{% static 'landing/assets/icons/iki_medium.svg' %}"/></div>
            <div id="m-nav-options">
                <div onclick="navGoTo('section-2');">О конференции</div>
                <div onclick="navGoTo('section-4');">Иностранным участникам</div>
                <div onclick="navGoTo('section-5');">Контакты</div>
                <div><a href="https://kmu.archive.cosmos.ru/previous/">
                Архив
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z"/>
</svg>
                </a></div>
            </div>
        </div>
    </div>
<div id="section-1">
    <div id="section-1-background">
        <img id="section-1d-img" class="img-container" src="{% static 'landing/test_bkgs/desktop.png' %}"/>
        <img id="section-1m-img" class="img-container" src="{% static 'landing/test_bkgs/mobile.png' %}">
    </div>
    
    {% include 'landing/stars.html' %}

    <div id="navigation">
        <div id="d-nav-container">
            <div class="d-nav-push-item">
                <img class="img-container" src="{% static 'landing/assets/icons/logo_iki.svg' %}"/>
            </div>
            <div class="d-nav-item" onclick="goTo('section-2');">О конференции</div>
            <div class="d-nav-item" onclick="goTo('section-4');">Иностранным участникам</div>
            <div class="d-nav-item" onclick="goTo('section-5');">Контакты</div>
            <div class="d-nav-item"><a href="https://kmu.archive.cosmos.ru/previous/">Архив <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z"/>
</svg></a></div>
        </div>
        <div id="m-nav-container">
            <div class="m-nav-push-item">
                <img class="img-container" src="{% static 'landing/assets/icons/logo_iki.svg' %}"/>
            </div>
            <div id="m-nav-menu" onclick="changeVisibility('m-nav-shade');">
                <img class="img-container" src="{% static 'landing/assets/icons/codicon_menu.svg' %}"/>
            </div> 
        </div>
    </div>

    <div id="header" >
        <div id="header-box">
            <div id="header-box-dates">22–24 АПРЕЛЯ, 2026</div>
            <div>ИКИ РАН, МОСКВА, РОССИЯ</div>
        </div>

        <div id="title">
            МЕЖДУНАРОДНАЯ <span class="bold">КОНФЕРЕНЦИЯ МОЛОДЫХ УЧЁНЫХ</span> ПО&nbsp;КОСМИЧЕСКИМ ИССЛЕДОВАНИЯМ
        </div>
        <div id="title-mob">
            <div>МЕЖДУНАРОДНАЯ</div>
            <div class="title-mob-bold">КОНФЕРЕНЦИЯ</div>
            <div class="title-mob-bold">МОЛОДЫХ УЧЁНЫХ</div>
            <div>ПО&nbsp;КОСМИЧЕСКИМ</div>
            <div>ИССЛЕДОВАНИЯМ</div>
        </div>
        <div class="take-part-button" onclick="goTo('section-5');">ХОЧУ УЧАСТВОВАТЬ</div>
    </div>

</div>

<div id="section-2">
    <div id="section-2-background">
        <div class="section-content">
            <div class="section-title">О КОНФЕРЕНЦИИ</div>
            <div class="split-container">
                <div class="reg-text" id="about-content">
                    <div>
                    <span class="bold">XXIII Конференция молодых учёных (КМУ)<span> по космическим исследованиям в 2026&nbsp;году пройдет в международном формате в <a href="https://iki.cosmos.ru/" target="_blank" class="link">Институте космических исследований</a> РАН (ИКИ) <span class="bold">22–24&nbsp;апреля в Москве, Россия</span>.
                    </div>
                    <div>
                    Конференция рассчитана на молодых исследователей до 35&nbsp;лет (включительно). Цель конференции — дать возможность молодым учёным самостоятельно представить результаты своей работы, получить опыт выступления перед аудиторией и публичного обсуждения научных результатов. Очное участие предпочтительно.
                    </div>
                    <div>Рабочие языки конференции — <span class="bold">английский и русский</span>.</div>
                    <div>Докладчикам предоставляется возможность опубликовать свои работы в трудах конференции. Труды КМУ индексируются в РИНЦ по соответствующим рубрикам — естественнонаучным, техническим, гуманитарным.
                    </div>
                    <div>Архив конференций прошлых лет доступен по адресу <a href="https://kmu.archive.cosmos.ru/previous/" class="link">kmu.archive.cosmos.ru/previous</a>.</div>
                 </div>
                 <div class="split-container" id="memo">
                    <div id="icon-warning"><img class="img-container" src="{% static 'landing/assets/icons/icon_warning.svg' %}"/></div>
                    <div class="memo-text"><div><span onclick="goTo('section-5');" class="link">Заполните форму</span>, чтобы мы могли сообщить вам об открытии регистрации.</div><br><div>Организационный взнос не требуется.</div></div>
                </div>
            </div>
            <div id="about-img"><img class="img-container" src="{% static 'landing/assets/desktop/about_pic.png' %}" /></div>
        </div>


    </div>
</div>

<div id="section-3">
    
    <div id="section-3-background">
        <img id="section-3d-img" class="img-container" src="{% static 'landing/assets/desktop/Sections_pic.png' %}"/>
        <img id="section-3m-img" class="img-container" src="{% static 'landing/assets/mobile/section_pic.png' %}"/>
    </div>

    <div id="program-sections">
       <div class="section-title">СЕКЦИИ</div>
       <div id="section-list">
        <ul>
            <li>Физика солнечной системы</li>
            <li>Астрофизика и радиоастрономия</li>
            <li>Дистанционное зондирование Земли</li>
            <li>Космическое приборостроение и эксперимент</li>
            <li>Теория и моделирование физических процессов</li>
            <li>Исследование планет</li>
            <li>Космос в социальных науках</li>
            <li>Доклады юниоров (9–11 класс)</li>
        </ul>
       </div>
       <div class="take-part-button" onclick="goTo('section-5');">ХОЧУ УЧАСТВОВАТЬ</div>
    </div>

</div>


<div id="section-4">
    <div id="section-4-background">

    <div class="section-content">
        <div class="section-title">ИНОСТРАННЫМ УЧАСТНИКАМ</div>
        <div class="split-container">
            <div>
                <div class="reg-text">
                Если вы знаете иностранных исследователей, которых может заинтересовать участие в КМУ&nbsp;2026, вы можете поделиться с ними <a target="_blank" href="{% url 'get_brochure' %}" class="link">этим документом</a>, при желании сопроводив его следующим текстом:
                </div>

                <div id="participants-memo">
                    <div id="copy-con">
                        <div id="copied-message" class="sheer">Текст скопирован</div>
                        <div id="copy-img" onclick="copyContent('participants-memo');"><img class="img-container" src="{% static 'landing/assets/icons/icon_copy.svg' %}"/></div>
                    </div>
                    <div class="reg-text">
                        On April 22–24, 2026, the Space Research Institute of the Russian Academy of Sciences (IKI, <a class="link" target="_blank" href="https://iki.cosmos.ru/en">iki.cosmos.ru/en</a>) will host a conference for early-career researchers under 35 years of age working in space sciences and related fields in Moscow, Russia. The purpose of the conference is to give young scientists a venue to present their results, meet, and interact. No participation fee is required. 
                    </div>
                    <br>
                    <div class="reg-text">To express interest, please send a brief description of your research to <span class="underlined-accent">ysc2026@cosmos.ru</span>. The conference is by invitation only.</div>
                </div>
            </div>

            <div id="participants-img"><img class="img-container" src="{% static 'landing/assets/desktop/participants_pic.png' %}"/></div>
            <div id="participants-img-mob"><img class="img-container" src="{% static 'landing/assets/mobile/perticipants_pic.png' %}"/></div>
        </div>
    </div>
    </div>

</div>

<div id="section-5">
    <div id="section-5-background">
        <div class="section-content">
            <div class="section-title">КОНТАКТЫ</div>
            <div class="reg-text">Заполните форму ниже, чтобы получить уведомление об <span class="bold">открытии регистрации</span> на КМУ&nbsp;2026.</div> 
            <br>
            <div class="reg-text">Почта для связи: <span class="underlined-accent">kmu@cosmos.ru</span></div>
            <br>
            <div class="split-container">
                <div>{% include "landing/form.html" %}</div>
                <div id="scroll-icon-container" onclick="goTo('section-1');"><img class="img-container" src="{% static 'landing/assets/icons/icon_up.svg' %}"/></div>
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <div id="footer-background">
        <div id="footer-img"><img class="img-container" src="{% static 'landing/assets/icons/logo_iki.svg' %}"/></div>
        <div>© 2025</div>
    </div>
</div>

<script src="{% static 'htmx.min.js' %}"></script>

<script>htmx.logAll();</script>
<script src="{% static 'landing/main_page.js' %}"></script>
<script src="{% static 'landing/form.js' %}"></script>

</body>
</html>
