{% load i18n %}


<div class="paragraph-e">{% translate 'Пожалуйста, введите ваш email и пароль для авторизации на сайте' %}</div>

<form id="login-form" autocomplete="off" hx-post="{% url 'login' %}" hx-target="#login-form-container" hx-trigger="click from:#login-form-button" hx-swap="innerHTML">

{% csrf_token %}

<div class="field-container">
    <div class="field-label">{{ login_form.email.label }}*</div>
    <div>{{ login_form.email }}</div>
    <div class="field-error">{{ login_form.email.errors.as_text }}</div>
</div>

<div class="field-container">
    <div class="field-label">{{ login_form.password.label }}*</div>
    <div>{{ login_form.password }}</div>
    <div class="field-helptext-under show-pass-js" onclick="showPasswords(this);" data-type="input" data-show="hide-pass-js" data-hide="show-pass-js">{% trans "Показать пароль" %}</div>
    <div class="field-helptext-under hide-pass-js" onclick="showPasswords(this);" data-type="password" data-show="show-pass-js" data-hide="hide-pass-js" hidden>{% trans "Скрыть пароль" %}</div>
    <div class="field-error">{{ login_form.password.errors.as_text }}</div>
</div>



<div class="field-container field-error">{{ login_form.non_field_errors.as_text }}</div>

<div id="login-form-button" class="more-button">{% translate 'войти' %}</div>

</form>
