{% load i18n %}

{% if failure %}

    <div class="paragraph-e">{% trans "Что-то пошло не так - пожалуйста, обновите страницу и начните процедуру восстановления пароля еще раз." %}</div>

{% elif success  %}
    <div class="paragraph-e">{% trans "Ваш пароль успешно изменен!" %} <span class="medium-link medium-link-cursor" data-id="login-block" onclick="showEntrance(this);">{% trans "Авторизуйтесь" %}</span> {% trans "для входа в Личный кабинет." %}</div>

    <script>
        htmx.ajax('GET', "{%  url 'register' %}", { target: '#registration-form-container', swap: 'innerHTML', source: '#registration-form-container'});
        htmx.ajax('GET', "{%  url 'login' %}", { target: '#login-form-container', swap: 'innerHTML', source: '#login-form-container'});
    </script>
{% else %}

<div class="paragraph-e">{% trans "E-mail подтвержден. Введите новый пароль в форму ниже:" %}</div>

<form id="password-change-form" autocomplete="off" hx-post="{% url 'change_password' %}" hx-target="#password-reset-form-container" hx-trigger="click from:#password-change-form-button" hx-swap="innerHTML">

{% csrf_token %}

<div class="field-container">
    <div class="field-label">{{ pass_change_form.password.label }}*</div>
    <div>{{ pass_change_form.password }}</div>
    <div class="field-error">{{ pass_change_form.password.errors.as_text }}</div>
</div>

<div class="field-container">
    <div class="field-label">{{ pass_change_form.password_confirm.label }}*</div>
    <div>{{ pass_change_form.password_confirm }}</div>
    <div class="field-error">{{ pass_change_form.password_confirm.errors.as_text }}</div>
    <div class="field-helptext-under show-pass-js" onclick="showPasswords(this);" data-type="input" data-show="hide-pass-js" data-hide="show-pass-js">{% trans "Показать пароли" %}</div>
    <div class="field-helptext-under hide-pass-js" onclick="showPasswords(this);" data-type="password" data-show="show-pass-js" data-hide="hide-pass-js"  hidden>{% trans "Скрыть пароли" %}</div>

</div>

<div class="field-container field-error">{{ pass_change_form.non_field_errors.as_text }}</div>

<div id="password-change-form-button" class="more-button">{% trans "сохранить" %}</div>

</form>

{% endif %}
