{% load i18n %}


<div class="paragraph-e">{% trans "Введите код из письма для восстановления пароля:" %}</div>

<form id="password-code-form" autocomplete="off" hx-post="{% url 'change_password_code' auth_id %}" hx-target="#password-reset-form-container" hx-trigger="click from:#password-code-form-button" hx-swap="innerHTML">

{% csrf_token %}

<div class="field-container">
    <div>{{ pass_change_form.code }}</div>
    <div class="field-error">{{ pass_change_form.code.errors.as_text }}</div>
</div>


<div id="password-code-form-button" class="more-button">{% trans "подтвердить" %}</div>

</form>
