{% load i18n %}

{% if success  %}
    <div class="paragraph-e">{% trans "Если пользователь с указанной почтой зарегистрирован на сайте, отправим код для восстановления пароля." %}</div>
{% else %}

<div class="paragraph-e">{% trans "Отправим код для восстановления пароля на указанную почту" %}</div>

<form id="password-reset-form" autocomplete="off" hx-post="{% url 'reset_password' %}" hx-target="#password-reset-form-container" hx-trigger="click from:#password-reset-form-button" hx-swap="innerHTML">

{% csrf_token %}

<div class="field-container">
    <div class="field-label">{{ pass_change_form.email.label }}*</div>
    <div>{{ pass_change_form.email }}</div>
    <div class="field-error">{{ pass_change_form.email.errors.as_text }}</div>
</div>


<div id="password-reset-form-button" class="more-button">{% trans "отправить" %}</div>

</form>
{% endif %}
