{% load i18n %}

{% if profile_instance  %}

<div class="p-reg-text">{% trans 'Если вы говорите по-русски, пожалуйста, заполните также поля на русском языке' %}</div>

<div class="fields-split">
<div class="field-container">
    <div class="field-label">First name*</div>
    <div class="field-value">{% if profile_instance.first_name_en %}{{ profile_instance.first_name_en }}{% endif %}</div>
</div>

<div class="field-container">
    <div class="field-label">Имя</div>
    <div class="field-value">{% if profile_instance.first_name_ru %}{{ profile_instance.first_name_ru }}{% endif %}</div>
</div>
</div>



<div class="fields-split">
<div class="field-container">
    <div class="field-label">Last name*</div>
    <div class="field-value">{% if profile_instance.last_name_en %}{{ profile_instance.last_name_en }}{% endif %}</div>
</div>

<div class="field-container">
    <div class="field-label">Фамилия</div>
    <div class="field-value">{% if profile_instance.last_name_ru %}{{ profile_instance.last_name_ru }}{% endif %}</div>
</div>
</div>



<div class="fields-split">
<div class="field-container empty">
    &nbsp;
</div>

<div class="field-container">
    <div class="field-label">Отчество</div>
    <div class="field-value">{% if profile_instance.middle_name_ru  %}{{ profile_instance.middle_name_ru }}{% endif %}</div>
</div>
</div>


<div class="fields-split">

<div class="field-container">
    <div class="field-label">{% trans 'Гражданство' %}*</div>
    {% get_current_language as LANGUAGE_CODE %}
    <div class="field-value">{% if profile_instance.citizenship  %}
    {% if LANGUAGE_CODE == 'ru' %}
        {{ profile_instance.citizenship.title_ru }}{% else %}{{ profile_instance.citizenship.title_en }}
    {% endif %}
    {% endif %}</div>
</div>
</div>


<div class="profile-gl"></div>


<div class="fields-split">
<div class="field-container">
    <div class="field-label">E-mail*</div>
    <div class="field-value">{% if profile_instance.user.email  %}{{ profile_instance.user.email }}{% endif %}</div>
</div>

<div class="field-container">
    <div class="field-label">{% trans 'Номер телефона' %}</div>
    <div class="field-value">{% if profile_instance.phone  %}{{ profile_instance.phone }}{% endif %}</div>
</div>
</div>


<div class="profile-gl"></div>


<div class="fields-split">
<div class="field-container">
    <div class="field-label">Organization*</div>
    <div class="field-value">{% if profile_instance.org_en  %}{{ profile_instance.org_en }}{% endif %}</div>
</div>

<div class="field-container">
    <div class="field-label">Организация</div>
    <div class="field-value">{% if profile_instance.org_ru  %}{{ profile_instance.org_ru }}{% endif %}</div>
</div>
</div>

<div class="fields-split">
<div class="field-container">
    <div class="field-label">Organization (short form)</div>
    <div class="field-value">{% if profile_instance.org_short_en  %}{{ profile_instance.org_short_en }}{% endif %}</div>
</div>

<div class="field-container">
    <div class="field-label">Организация (короткая форма)</div>
    <div class="field-value">{% if profile_instance.org_short_ru  %}{{ profile_instance.org_short_ru }}{% endif %}</div>
</div>
</div>

<div class="fields-split">
<div class="field-container">
    <div class="field-label">Position*</div>
    <div class="field-value">{% if profile_instance.position_en  %}{{ profile_instance.position_en }}{% endif %}</div>
</div>

<div class="field-container">
    <div class="field-label">Должность</div>
    <div class="field-value">{% if profile_instance.position_ru  %}{{ profile_instance.position_ru }}{% endif %}</div>
</div>
</div>

<div class="profile-active-button" hx-get="{% url 'profile_endpoint_form' %}" hx-target="#profile-form-target" hx-trigger="click" hx-swap="innerHTML">{% trans 'Редактировать' %}</div>

{% else %}

<div class="p-reg-text">{% trans 'Если вы говорите по-русски, пожалуйста, заполните также поля на русском языке' %}</div>

<form id="profile-form" autocomplete="off" data-url="{% url 'profile_endpoint' %}" data-target="#profile-form-target" data-swap="innerHTML">

{% csrf_token %}


<div class="fields-split">

<div class="field-container">
    <div class="field-label">{{ profile_form.first_name_en.label }}*</div>
    <div>{{ profile_form.first_name_en }}</div>
    <div class="field-error">{{ profile_form.first_name_en.errors.as_text }}</div>
</div>

<div class="field-container">
    <div class="field-label">{{ profile_form.first_name_ru.label }}</div>
    <div>{{ profile_form.first_name_ru }}</div>
    <div class="field-error">{{ profile_form.first_name_ru.errors.as_text }}</div>
</div>

</div>


<div class="fields-split">

<div class="field-container">
    <div class="field-label">{{ profile_form.last_name_en.label }}*</div>
    <div>{{ profile_form.last_name_en }}</div>
    <div class="field-error">{{ profile_form.last_name_en.errors.as_text }}</div>
</div>

<div class="field-container">
    <div class="field-label">{{ profile_form.last_name_ru.label }}</div>
    <div>{{ profile_form.last_name_ru }}</div>
    <div class="field-error">{{ profile_form.last_name_ru.errors.as_text }}</div>
</div>

</div>


<div class="fields-split">

<div class="field-container empty">
    &nbsp;
</div>

<div class="field-container">
    <div class="field-label">{{ profile_form.middle_name_ru.label }}</div>
    <div>{{ profile_form.middle_name_ru }}</div>
    <div class="field-error">{{ profile_form.middle_name_ru.errors.as_text }}</div>
</div>

</div>


<div class="fields-split">

<div class="field-container">
    <div class="field-label">{{ profile_form.citizenship.label }}*</div>
    
    <input id="id_citizenship-input" name="query" hx-get="{% url 'citizenship_endpoint' %}"  hx-trigger="keyup delay:400ms" hx-target="#inner-citizenship" hx-swap="outerHTML" onclick="optionsVisibility();">


    <div id="citizenship-container" {% if profile_form.citizenship.initial %} hx-get="{% url 'citizenship_endpoint' %}?query={{ profile_form.citizenship.initial }}" {% else %} hx-get="{% url 'citizenship_endpoint' %}"  {% endif %} hx-trigger="load" hx-swap="innerHTML"></div>
    <div class="field-error">{{ profile_form.citizenship.errors.as_text }}</div>
</div>


</div>



<div class="profile-gl"></div>


<div class="fields-split">

<div class="field-container">
    <div class="field-label">{{ profile_form.email.label }}*</div>
    <div>{{ profile_form.email }}</div>
    <div class="field-error">{{ profile_form.email.errors.as_text }}</div>
</div>

<div class="field-container">
    <div class="field-label">{{ profile_form.phone.label }}</div>
    <div>{{ profile_form.phone }}</div>
    <div class="field-error">{{ profile_form.phone.errors.as_text }}</div>
</div>

</div>



<div class="profile-gl"></div>


<div class="fields-split">

<div class="field-container">
    <div class="field-label">{{ profile_form.org_en.label }}*</div>
    <div>{{ profile_form.org_en }}</div>
    <div class="field-error">{{ profile_form.org_en.errors.as_text }}</div>
</div>

<div class="field-container">
    <div class="field-label">{{ profile_form.org_ru.label }}</div>
    <div>{{ profile_form.org_ru }}</div>
    <div class="field-error">{{ profile_form.org_ru.errors.as_text }}</div>
</div>

</div>


<div class="fields-split">

<div class="field-container">
    <div class="field-label">{{ profile_form.org_short_en.label }}</div>
    <div class="field-helptext-reg">Will be placed on your badge - 20 characters max</div>
    <div>{{ profile_form.org_short_en }}</div>
    <div class="field-error">{{ profile_form.org_short_en.errors.as_text }}</div>
</div>

<div class="field-container">
    <div class="field-label">{{ profile_form.org_short_ru.label }}</div>
    <div class="field-helptext-reg">Будет указана на вашем бейджике - максимум 20 символов</div>
    <div>{{ profile_form.org_short_ru }}</div>
    <div class="field-error">{{ profile_form.org_short_ru.errors.as_text }}</div>
</div>

</div>

<div class="fields-split">

<div class="field-container">
    <div class="field-label">{{ profile_form.position_en.label }}*</div>
    <div>{{ profile_form.position_en }}</div>
    <div class="field-error">{{ profile_form.position_en.errors.as_text }}</div>
</div>

<div class="field-container">
    <div class="field-label">{{ profile_form.position_ru.label }}</div>
    <div>{{ profile_form.position_ru }}</div>
    <div class="field-error">{{ profile_form.position_ru.errors.as_text }}</div>
</div>

</div>


<div class="field-container field-error">{{ profile_form.non_field_errors.as_text }}</div>

<div id="profile-form-button" class="profile-active-button" data-then_url="{%  url 'participation_endpoint' %}" data-form_id="profile-form" onclick="saveDataAnd(this);">{% trans 'Сохранить' %}</div>

</form>
{% endif %}
