{% extends 'conference/base.html' %}

{% load static %}
{% load i18n %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'users/public_pages.css' %}?v={{ static_version }}"/>
{% endblock %}

{% block page %}
<div class="public-page-container">
    <div class="section-container">


    <div class="page-split">
        <div class="page-part">
            {% if report.status == 'declined' %}
            <div class="declined">доклад отклонен</div>
            {% endif %}
            <div class="medium-title">{{ report.title }}</div>
            <div class="abstract">{{ report.abstract }}</div>
        </div>
        <div class="gvl"></div>
        <div class="page-part other-info">
            <div class="info-value">{% trans "КМУ" %}&nbsp;{{ report.year }}</div>
            <div class="info-label">{% trans "Докладчик" %}</div>
            <div class="info-value">
                <div>
                {% if report.lang == 'ru' %}
                {{ report.profile.full_rus_name }}
                {% else %}
                {{ report.profile.full_en_name }}
                {% endif %}
                </div>
                <div class="italic pt-1">
                {% if report.lang == 'ru' %}
                {{ report.profile.org_ru }}
                {% else %}
                {{ report.profile.org_en }}
                {% endif %}
                </div>
            </div>

            <div class="info-label">{% trans "Секция" %}</div>
            <div class="info-value">
                {% if report.lang == "ru" %}
                {{ report.section.name_ru }}
                {% else %}
                {{ report.section.name_en }}
                {% endif %}

            </div>
            
            {% if report.has_advisor and report.advisor %}
            <div class="info-label">{% trans "Научный руководитель" %}</div>
            <div class="info-value">{{ report.advisor.short_name }}{% if report.advisor.org %}, <span class="italic">{{ report.advisor.org }}</span>{% endif %}</div>
            {% endif %}
           
            {% if report.authors_only.count > 0 %}
            <div class="info-label">{% trans "Соавторы" %}</div>
            <div class="info-value">
                {% for author in report.authors_only.all %}
                <div>{{ author.short_name }}{% if author.org %}, <span class="italic">{{ author.org }}</span>{% endif %}</div>
                {% endfor %}
            </div>
            {% endif %}

            {% if report.pub_link %}
            <div class="info-label">{% trans "Ссылка на публикацию" %}</div>
            <div class="info-value">{{ report.pub_link }}</div>
            {% endif %}

            {% if request.user.is_mod %}
            <div class="info-label">{% trans "Презентация" %}</div>
            {% for file in report.presentation_files.all %}
            <a href="{% url 'display_file' 'presentation' file.id %}"><div class="info-value medium-link">{{ file.filename }}</div></a>
            {% endfor %}
            {% endif %}

        </div>
    </div>



    </div>
</div>
{% endblock %}
