{% load i18n %}

{% if success  %}
    <div class="paragraph-e">{% trans 'Спасибо за регистрацию на сайте КМУ 2026!' %}</div><br>
    <div class="paragraph-e">{% trans 'Пожалуйста, подтвердите вашу почту, перейдя по ссылке в ответном письме - после этого вы сможете войти в Личный кабинет.' %}</div>
{% else %}

<div class="paragraph-e">{% trans 'Пожалуйста, заполните поля ниже для регистрации на сайте' %}</div>

<form id="reg-form" autocomplete="off" hx-post="{% url 'register' %}" hx-target="#registration-form-container" hx-trigger="click from:#reg-form-button" hx-swap="innerHTML">

{% csrf_token %}

<div class="field-container">
    <div class="field-label">{{ register_form.email.label }}*</div>
    <div>{{ register_form.email }}</div>
    <div class="field-error">{{ register_form.email.errors.as_text }}</div>
</div>

<div class="field-container">
    <div class="field-label">{{ register_form.password.label }}*</div>
    <div>{{ register_form.password }}</div>
    <div class="field-error">{{ register_form.password.errors.as_text }}</div>
    <div class="field-helptext">{% trans 'Пароль должен быть не менее 8 символов и содержать латинские буквы и цифры' %}</div>
</div>

<div class="field-container">
    <div class="field-label">{{ register_form.password_confirm.label }}*</div>
    <div>{{ register_form.password_confirm }}</div>
    <div class="field-error">{{ register_form.password_confirm.errors.as_text }}</div>
    <div class="field-helptext-under show-pass-js" onclick="showPasswords(this);" data-type="input" data-show="hide-pass-js" data-hide="show-pass-js">{% trans "Показать пароли" %}</div>
    <div class="field-helptext-under hide-pass-js" onclick="showPasswords(this);" data-type="password" data-show="show-pass-js" data-hide="hide-pass-js" hidden>{% trans "Скрыть пароли" %}</div>
</div>

<div class="field-container field-error">{{ register_form.non_field_errors.as_text }}</div>

<div class="pad-bottom">
    <div class="field-split-container">
        <div>{{ register_form.consent_confirm }}</div>
        {% get_current_language as LANGUAGE_CODE %}
        <label for="id_consent_confirm">{% trans 'Даю согласие на' %} <a {% if LANGUAGE_CODE == 'ru' %} href="{% url 'get_agreement_ru' %}" {% else %} href="{% url 'get_agreement_en' %}" {% endif %} class="entrance-link">{% trans 'обработку персональных данных' %}</a></label>
    </div>
    <div class="field-error">{{ register_form.consent_confirm.errors.as_text }}</div>
</div>

    <div id="reg-form-button" class="more-button">{% trans 'Зарегистрироваться' %}</div>

</form>
{% endif %}
