{% load static %}
{% load i18n %}

<div>
    {% if reports.count == 0 %}
        {% if report_form %}{% else %}
        <div class="field-container">
            <div class="p-reg-text">{% trans 'Вы пока не подали ни одного доклада.' %}</div>
            <div class="p-text">{% trans 'Подача доклада необязательна — вы можете участвовать в конференции как слушатель.' %}</div>
        </div>
        {% endif %}
    {% else %}
        <div id="reports-container" class="reports-container">
        {% for report in reports %}

        {% if report.id == report_form.instance.id %}
        {% else %}
        <div class="report-container">
            
            <div class="report-header">
                <div class="rh-date">{{ report.modified|date:'d.m.Y, H:i' }} UTC</div>
                {% if report.status == "accepted" %}
                    {% if report.plenary %}
                    <div class="rh-status plenary"><div><img src="{% static 'conference/assets/accepted_check.svg' %}?v={{ static_version }}"></div><div>{% trans 'Пленарный' %}</div></div>
                    {% else %}
                    <div class="rh-status accepted"><div><img src="{% static 'conference/assets/accepted_check.svg' %}?v={{ static_version }}"></div><div>{% trans 'Принят' %}</div></div>
                    {% endif %}
                {% elif report.status == "declined" %}
                <div class="rh-status declined"><div><img src="{% static 'conference/assets/declined.svg' %}?v={{ static_version }}"></div><div>{% trans 'Отклонен' %}</div></div>
                {% else %}
                <div class="rh-status in-review"><div><img src="{% static 'conference/assets/jam_search.svg' %}?v={{ static_version }}"></div><div>{% trans 'На рассмотрении' %}</div></div>
                {% endif %}

            </div>
            
            {% if report.status == 'accepted' and report.plenary == False %}
            <div class="attention">
                <div>{% trans "Ваше выступление должно уложиться в 15 минут." %}</div>
                <div>{% trans "Рекомендованное время выступления - 12 минут + 3 минуты на вопросы." %}</div>
            </div>
            {% endif %}

            <div class="report-title">{{ report.title }}</div>
            <div class="report-label">{% trans 'Язык' %}</div>
            <div class="report-value">{{ report.get_lang }}</div>
            <div class="report-label">{% trans 'Cекция' %}</div>
            {% get_current_language as LANGUAGE_CODE %}
            <div class="report-value">{% if report.section %}
                {% if LANGUAGE_CODE == 'ru' %}{{ report.section.name_ru }}{% else %}{{ report.section.name_en }}{% endif %}
            {% else %}{% trans 'Не  выбрана' %}{% endif %}</div>
            <div class="report-label">{% trans 'Авторы' %}</div>
            <div class="report-value">{{ report.full_authors }}</div>

            <div class="report-files-container">
            
            {% if report.section.name_en != 'Junior Section' %}
            <div class="rf-container">
                <div class="field-label">{% trans 'Экспертное заключение' %}</div>
                <div class="report-label">{% trans 'Необходимо прикрепить всем участникам с российской аффилиацией' %}</div>
                <div id="report-{{ report.id }}-expertise-target">
                {% with file_instance=report.get_expertise %}
                {% if file_instance %}
                    <div hx-get={% url 'handle_file' report.id file_instance.model_name file_instance.id %} hx-trigger="load">file exists</div>
                {% else %}
                    <div class="file-form-split">
                        <div class="smaller-button-split" hx-get="{% url 'handle_file' report.id 'expertise'  %}" hx-target="#report-{{ report.id }}-expertise-target" hx-swap="innerHTML">
                            <div><img src="{% static 'conference/assets/prime_upload.svg' %}?v={{ static_version }}"></div>
                            <div>{% trans "Загрузить заключение" %}</div>
                        </div>
                    </div>
                {% endif %}
                {% endwith %}
                </div>
            </div>
            {% endif %}

            <div class="rf-container">
                <div class="field-label">{% trans 'Файл презентации' %}</div>
                <div id="report-{{ report.id }}-presentation-target">
                {% with file_instance=report.get_presentation %}
                {% if file_instance %}
                    <div hx-get={% url 'handle_file' report.id file_instance.model_name file_instance.id %} hx-trigger="load">file exists</div>
                {% else %}
                    <div class="file-form-split">
                        <div class="smaller-button-split" hx-get="{% url 'handle_file' report.id 'presentation'  %}" hx-target="#report-{{ report.id }}-presentation-target" hx-swap="innerHTML">
                            <div><img src="{% static 'conference/assets/prime_upload.svg' %}?v={{ static_version }}"></div>
                            <div>{% trans "Прикрепить презентацию" %}</div>
                        </div>
                    </div>
                {% endif %}
                {% endwith %}
                </div>
            </div>
            </div>

            
            <div class="report-buttons">
            {% if flags.REPORT_SUBMISSION %}
            <div class="profile-active-button" hx-get="{% url 'reports_endpoint_form' report.id %}" hx-target="#reports-target" hx-swap="innerHTML">{% trans 'Редактировать' %}</div>
            
            <div id="confirm-del-rep-{{ report.id }}" class="confirm-shade" hidden >
            <div class="confirm-container">
                <div class="confirm-prompt">{% trans "Удалить доклад?" %} </div>
                <div class="confirm-split">
                    <div class="confirm-option" hx-get="{% url 'delete_report' report.id %}" hx-target="#reports-target" hx-swap="innerHTML">{% trans "да" %}</div>
                    <div class="deny-option" onclick="hide('confirm-del-rep-{{ report.id }}');" >{% trans "нет" %}</div>
                </div>
            </div>
            </div>

            <div class="profile-inactive-button" onclick="show('confirm-del-rep-{{ report.id }}');">{% trans 'Удалить' %}</div>
            {% else %}
            <a href="{% url 'report_public_page' report.id %}"><div class="profile-active-button">{% trans "Страница доклада" %}</div></a>
            {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %} 
        </div>
    {% endif %}

    {% if report_form %}
        
       <div class="rep-form-container"> 
            {% if report_form.instance.exists %}
                <div class="report-title">{% trans 'Редактирование доклада' %}</div>
            {% else %}
                <div class="report-title">{% trans 'Новый доклад' %}</div>
            {% endif %}

        {% if report_form.instance.exists %}
        <form id="report-form" autocomplete="off" enctype="multipart/form-data" hx-post="{% url 'reports_endpoint' report_form.instance.id %}" hx-trigger="click from:#report-form-button" hx-target="#reports-target" hx-swap="innerHTML">

        {% else %}
        <form id="report-form" autocomplete="off" hx-post="{% url 'reports_endpoint' %}" hx-trigger="click from:#report-form-button" hx-target="#reports-target" hx-swap="innerHTML">
        {% endif %}
           {% csrf_token %}

            <div class="field-container">
                <div class="field-label">{{ report_form.lang.label }}*</div>
                <div class="field-helptext">{{ report_form.lang.help_text }}</div>
                <div>{{ report_form.lang }}</div>
                <div class="field-error">{{ report_form.lang.errors.as_text }}</div>
            </div>

            <div class="field-container">
                <div class="field-label">{{ report_form.section.label }}*</div>
                <div>{{ report_form.section }}</div>
                <div class="field-error">{{ report_form.section.errors.as_text }}</div>
            </div>
            
            <div class="field-container">
                <div class="field-label">{{ report_form.title.label }}*</div>
                <div>{{ report_form.title }}</div>
                <div class="field-error">{{ report_form.title.errors.as_text }}</div>
            </div>
            
            <div class="field-container">
                <div class="field-label">{{ report_form.abstract.label }}*</div>
                <div>{{ report_form.abstract }}</div>
                <div class="field-error">{{ report_form.abstract.errors.as_text }}</div>
            </div>
           
            <div class="profile-gl"></div>

            <div class="field-container">
                <div class="checkbox-split">
                    <div class="checkbox-input-container">{{ report_form.has_advisor }}</div>
                    <div><label for="id_has_advisor">{% trans "У меня есть научный руководитель" %}</label></div>
                </div>
            </div>
            <div class="field-container" id="advisor-field-container" {% if report_form.has_advisor.value %}{% else %}hidden{% endif %}>
                <div class="field-label">{% trans 'Научный руководитель' %}*</div>
                <div hidden>{{ report_form.advisor }}</div>
                {% if report_form.instance.exists and report_form.instance.advisor %}
                <div id="advisor-target" hx-get="{% url 'advisor_endpoint' report_form.instance.advisor.id  %}" hx-trigger="load" hx-target="#advisor-target" hx-swap="innerHTML" ></div> 
                {% else %}
                <div id="advisor-target" hx-get="{% url 'advisor_endpoint_form' %}" hx-trigger="load" hx-target="#advisor-target" hx-swap="innerHTML" ></div> 
                {% endif %}
                <div class="field-error">{{ report_form.advisor.errors.as_text }}</div>
            </div>
            
            <div class="field-container">
                <div class="field-label">{% trans 'Соавторы' %}</div>
                <div class="field-helptext-reg">{% trans "В списке Авторов доклада Научный руководитель автоматически указывается на втором месте после Вас - дублировать его в этом поле не нужно" %}</div>
                <div hidden>{{ report_form.authors_field }}</div>
                <div id="all-authors-container">
                <!-- here iterate over all authors-->
                {% for author in report_form.instance.authors_only %}
                    <div id="tbs-author-{{ author.id }}" hx-get={% url 'author_endpoint' author.id %} hx-swap="outerHTML" hx-target="#tbs-author-{{ author.id }}" hx-trigger="load"></div>
                {% endfor %}
                </div>
                <div class="profile-smaller-medium-button" hx-get="{% url 'author_endpoint_form' %}" hx-trigger="click" hx-target="#all-authors-container" hx-swap="beforeend">{% trans 'Добавить coавтора' %}</div>
            </div>

            <div class="field-container">
                <div class="field-label">{{ report_form.pub_link.label }}</div>
                <div>{{ report_form.pub_link }}</div>
                <div class="field-error">{{ report_form.pub_link.errors.as_text }}</div>
            </div>

            <div class="fields-split">
                <div id="report-form-button" class="profile-active-button">{% trans 'Сохранить' %}</div>
                <div id="report-cancel-button" class="profile-inactive-button" hx-get="{% url 'reports_endpoint' %}" hx-target="#reports-target" hx-swap="innerHTML">{% trans 'Отменить' %}</div>
            </div> 
        </form>
    </div>
    {% else %}

        {% if flags.REPORT_SUBMISSION %}
        <div class="profile-green-button" hx-get="{% url 'reports_endpoint_form' %}" hx-target="#reports-target" hx-trigger="click" hx-swap="innerHTML">{% trans 'Подать доклад' %}</div>
        {% endif %}

    {% endif %}
   


</div>
