{% load static %}
{% load i18n %}

<div class="section-content">
    <div class="split-container-1">
        <div class="paragraph-b">{% trans "XXIV Конференция молодых учёных по космическим исследованиям (КМУ) пройдёт в апреле 2027 года в" %} <a class="medium-link" href="https://iki.cosmos.ru/">{% trans "Институте космических исследований РАН (ИКИ)" %}</a> {% trans "в Москве, Россия." %}</div>
        <div class="paragraph-b">{% trans "Конференция рассчитана на студентов, аспирантов и молодых исследователей до 35 лет (включительно)." %}</div>
    </div>
    <div class="rounded">
        <div class="img-space"><img class="img-container" src="{% static 'conference/imgs/dima_cropped.png' %}?v={{ static_version }}"></div>
        <div class="split-container-2">
            <div>
                <div class="sub-title">{% translate 'цель конференции' %}</div>
                <div class="paragraph">{% blocktrans %}Дать возможность молодым учёным самостоятельно представить результаты своей работы, получить опыт публичного выступления и обсуждения научных результатов. Очное участие предпочтительно.{% endblocktrans %}</div>
                <div class="paragraph">{% trans "Рабочие языки конференции:" %}<br>
                <span class="medium-highlight">{% trans "Английский и русский" %}</span></div>
                <div class="paragraph">{% trans "Организатор конференции:" %}<br>
                <a class="medium-link" href="http://nots.cosmos.ru/index.php?id=207">{% trans "Научно-образовательный центр ИКИ РАН" %}</a></div>
            </div>
            <div class="vl"></div>
            <div>
                <div class="sub-title">{% trans "публикации" %}</div>
                <div class="paragraph">{% blocktrans %}Докладчикам предоставляется возможность опубликовать свои работы в трудах конференции. Труды КМУ индексируются в РИНЦ по соответствующим рубрикам — естественнонаучным, техническим, гуманитарным.{% endblocktrans %}</div>
                <div class="paragraph">{% trans "Тезисы докладов будут опубликованы в электронном виде на сайте конференции." %}</div>
            </div>
        </div>
    </div>

</div>
