{% load static %}
{% load i18n %}

<div id="contacts" class="section-container">

<div class="section-title">{% trans "контакты" %}</div>

<div class="map-split">
    <div class="two-thirds">
        <div><img id="iki-contacts" class="img-container" src="{% static 'conference/imgs/iki_v.svg' %}?v={{ static_version }}" /></div>

        <div class="contact-label-split">
        <div>
            <div class="contact-label">{% trans "e-mail" %}</div>
            <div class="a-black-highlight">kmu@cosmos.ru</div>
        </div>
        <div>
            <div class="contact-label">{% trans "Telegram" %}</div>
            <div class="a-black-highlight"><a class="medium-link" target="_blank" href="https://t.me/kmu_iki">t.me/kmu_iki</a></div>
        </div>
        </div>

        <hr>

        <div class="contact-label">{% trans "адрес" %}</div>
        <div>{% trans "Институт космических исследований Российской академии наук (ИКИ РАН)" %}</div>
        <div>{% trans "117997, г. Москва, ул. Профсоюзная 84/32" %}</div>
        
        <hr>

        <div>
            {% trans "Аккредитация представителей средств массовой информации по согласованию с пресс-службой ИКИ РАН по электронной почте" %} <span class="a-black-highlight">press@cosmos.ru</span>
        </div>

    </div>
    <div class="map-container">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae2ff304fd99e3b736bc78b8c22e064bd9cfb11d4991199741748d5c4280f9c61&amp;width=100%25&amp;height=720&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</div>

<div class="subsection-title">{% trans "как проехать в ики ран" %}</div>

<div class="directions-split">
    <div>
        <div class="contact-label">{% trans "Общественным транспортом" %}</div>
        <div class="paragraph">{% trans "Станция метро «Калужская». Выход 6." %}</div>
        <div class="paragraph">{% blocktrans %}Выход в сторону первого вагона состава, следующего из центра. После эскалатора и стеклянных дверей следует идти прямо по длинному проходу. В конце прохода повернуть направо и подняться наверх. Длинное серое здание напротив на возвышении – ИКИ РАН. Слева – улица Профсоюзная, позади – улица Обручева.{% endblocktrans %}</div>
        <div class="paragraph">{% blocktrans %}Чтобы подойти к зданию ИКИ, нужно обойти заправку «Роснефть» по тропинке справа (по направлению примерно к середине здания). Затем пройти вдоль забора, огораживающего парковку к подъезду 4 (А-4).{% endblocktrans %}</div>
    </div>

</div>



</div>
