{% load static %}
{% load i18n %}

<div id="entrance-shade" onclick="clickOff('entrance-shade');" hidden>
    
    <div id="entrance-container">
        
            <div id="login-block" class="entrance-block">
            <div class="icon-container">
                <img onclick="hide('entrance-shade');" class="img-container" src="{% static 'conference/assets/material-symbols_close-rounded.svg' %}?v={{ static_version }}"/>
            </div>

            <div class="entrance-content">

            <div class="entrance-switch">
                <div class="e-switch e-switch-chosen" data-id="login-block" onclick="showEntrance(this);">{% translate 'вход' %}</div>
                <div class="e-switch" data-id="registration-block" onclick="showEntrance(this);">{% translate 'регистрация' %}</div>
            </div>
                <div class="entrance-block-content">
                    
                    <div id="login-form-container"></div>
                    
                    <div id="reset-password-link" class="entrance-link" data-id="reset-password-block" onclick="showEntrance(this);">{% translate 'Восстановить пароль' %}</div>

                </div>
            </div>

            </div>



            <div id="reset-password-block" class="entrance-block" hidden>
                <div class="icons-container">
                    <img data-id="login-block" onclick="showEntrance(this);" class="img-container" src="{% static 'conference/assets/humbleicons_arrow-go-back.svg' %}?v={{ static_version }}"/>
                    <img onclick="hide('entrance-shade');" class="img-container" src="{% static 'conference/assets/material-symbols_close-rounded.svg' %}?v={{ static_version }}"/>
                </div>

                <div class="entrance-content">

                <div class="e-switch-always">{% translate 'восстановление пароля' %}</div>
                <div class="entrance-block-content">
                    
                    <div id="password-reset-form-container"></div>
                </div>

                </div>
            </div>




            <div id="registration-block" class="entrance-block" hidden>
                <div class="icon-container">
                    <img onclick="hide('entrance-shade');" class="img-container" src="{% static 'conference/assets/material-symbols_close-rounded.svg' %}?v={{ static_version }}"/>
                </div>
                
                <div class="entrance-content">

                <div class="entrance-switch">
                    <div class="e-switch" data-id="login-block" onclick="showEntrance(this);">{% trans "вход" %}</div>
                    <div class="e-switch e-switch-chosen" data-id="registration-block" onclick="showEntrance(this);">{% trans "регистрация" %}</div>
                </div>
                <div class="entrance-block-content">
                    <div id="registration-form-container"></div>
                </div>

                </div>

            </div>



    </div>

</div>
