{% load static %}
{% load i18n %}

<div id="footer">
<div id="footer-content">
    <div class="footer-img-container"><img id="iki-footer" src="{% static 'conference/imgs/iki.svg' %}?v={{ static_version }}"/></div>
    <div class="footer-links">
        <a href="{% url 'main_page_conference' %}"><div>{% trans "Главная" %}</div></a>
        <a href="{% url 'about_conference' %}"><div>{% trans "О&nbsp;конференции" %}</div></a>
        <a href="{% url 'for_participants' %}"><div>{% trans "Участникам" %}</div></a>
        <a href="https://kmu.archive.cosmos.ru/previous"><div>{% trans "Архив" %}</div></a>
        <a href="#contacts"><div>{% trans "Контакты" %}</div></a>

    </div>
    <div class="footer-contacts">
        <div><span class="footer-label">E-mail:</span> <span class="footer-highlight">kmu@cosmos.ru</span></div>
        <div><span class="footer-label">Telegram:</span> <span class="footer-highlight"><a href="https://t.me/kmu_iki">t.me/kmu_iki</a></span></div>
        <div><span class="footer-label">{% trans "Адрес:" %}</span> {% trans "Институт космических исследований Российской академии наук (ИКИ РАН)" %}<br>
        {% trans "117997, г. Москва, ул. Профсоюзная 84/32" %}</div>
    </div>
</div>
<div id="footer-sub">{% trans "©2026: Институт космических исследований РАН" %}</div>
</div>
