{% extends 'conference/base.html' %}

{% load static %}
{% load i18n %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'conference/other_header.css' %}?v={{ static_version }}">
    <link rel="stylesheet" href="{% static 'conference/participants.css' %}?v={{ static_version }}">
    <link rel="stylesheet" href="{% static 'conference/sass_compiled/sky.css' %}?v={{ static_version }}">
    <link rel="stylesheet" href="{% static 'conference/timetable.css' %}?v={{ static_version }}">

{% endblock %}

{% block page %}

{% include 'conference/other_header.html' %}

<div class="section-container">


    <div class="days-switch">
        {% get_current_language as LANGUAGE_CODE %}
        <a href="{% url 'timetable_22' %}"><div class="day-switch {% if day == 22 %} day-switch-chosen {% endif %}">{% trans "22 апреля (ср)" %}</div></a>
        <a href="{% url 'timetable_23' %}"><div class="day-switch {% if day == 23 %} day-switch-chosen {% endif %} ">{% trans "23 апреля (чт)" %}</div></a>
        <a href="{% url 'timetable_24' %}"><div class="day-switch {% if day == 24 %} day-switch-chosen {% endif %}">{% trans "24 апреля (пт)" %}</div></a>
    </div>

    <div class="first-container"> 
        <div class="paragraph">{% trans "Расписания секций и докладов на день доступны по кнопкам ниже." %}</div>
        <div  class="timetable-doc-split">
            <div class="rules-doc-container">
                <div class="rules-doc-img"><img class="img-container" src="{% static 'conference/assets/pdf_icon.svg' %}?v={{static_version }}" /></div>
                <div class="rules-doc-text">{% trans "Расписание секций" %} {{ day }}.04</div>
               <a target="_blank" href="{% url 'get_timetable_basic' LANGUAGE_CODE  day %}"><div class="rules-doc-button">{% trans "скачать" %}</div></a>
            </div>
            <div class="rules-doc-container">
                <div class="rules-doc-img"><img class="img-container" src="{% static 'conference/assets/pdf_icon.svg' %}?v={{static_version }}" /></div>
                <div class="rules-doc-text">{% trans "Расписание докладов" %} {{ day }}.04</div>
                <a target="_blank" href="{% url 'get_timetable_full' LANGUAGE_CODE  day %}"><div class="rules-doc-button">{% trans "скачать" %}</div></a>
            </div>
        </div>

        {% if day == 22 %}
        <div class="paragraph">{% trans "Трансляции секций" %} 22.04:</div>
        
        <div class="broadcast-link-split">
        <div>
        <div class="pad-both">{% trans "VK Видео" %}</div>

        <a class="medium-link paragraph" href="https://vkvideo.ru/video-278486_456239399?list=ln-0ApoiAG90ZYusjr5Ti" target="_blank" rel="noopener" ><div>{% trans "Исследование планет I (9:30-13.30, КЗ)" %}</div></a>
        <a class="medium-link paragraph" href="https://vkvideo.ru/video-278486_456239402" target="_blank" rel="noopener" ><div>{% trans "Астрофизика и радиоастрономия I (9:30-13.30, 202)" %}</div></a>
        <a class="medium-link paragraph" href="https://vkvideo.ru/video-278486_456239404?list=ln-sazWEqhvySabTE5g8t" target="_blank" rel="noopener" ><div>{% trans "Дистанционное зондирование Земли I (9:30-13.30, 200)" %}</div></a>
        <a class="medium-link paragraph" href="https://vkvideo.ru/video-278486_456239406?list=ln-M7DZWm5X0LHI509CT3" target="_blank" rel="noopener" ><div>{% trans "Юниоры (9 – 11 классы) I (9:30-13.30, музей)" %}</div></a>

        <a class="medium-link paragraph" href="https://vkvideo.ru/video-278486_456239400?list=ln-P1uTpINQReslZSRBQV" target="_blank" rel="noopener" ><div class="pad-both">{% trans "Пленарный доклад Темная Вселенная - Захаров Е.И. (13.30, КЗ)" %}</div>

        <a class="medium-link paragraph" href="https://vkvideo.ru/video-278486_456239401?list=ln-PNU8nMB0McPdfLNzsO" target="_blank" rel="noopener" ><div>{% trans "Исследование планет II (c 15:00, КЗ)" %}</div></a>
        <a class="medium-link paragraph" href="https://vkvideo.ru/video-278486_456239403?list=ln-XhtO6azKjMzdQdfJ74" target="_blank" rel="noopener" ><div>{% trans "Астрофизика и радиоастрономия II (c 15:00, 202)" %}</div></a>
        <a class="medium-link paragraph"  href="https://vkvideo.ru/video-278486_456239405?list=ln-X7emLGbUhsd4Ipg6bo" target="_blank" rel="noopener" ><div>{% trans "Дистанционное зондирование Земли II (c 15:00, 200)" %}</div></a>
        <a class="medium-link paragraph" href="https://vkvideo.ru/video-278486_456239407?list=ln-Fp8fRbZzFuZ7CIxzIl" target="_blank" rel="noopener" ><div>{% trans "Юниоры (9 – 11 классы) II (c 15:00, музей)" %}</div></a>
        </div>

        <div>
        <div class="pad-both">YouTube</div>

        <a class="medium-link paragraph" href="https://youtube.com/live/8f-VE4lL3LI?feature=share13919758920471_14294566373911_z2hnd4kliu" target="_blank" rel="noopener" ><div>{% trans "Исследование планет I (9:30-13.30, КЗ)" %}</div></a>
        <a class="medium-link paragraph" href="https://www.youtube.com/live/oB6aiMc5j5s?si=ad6qd9uhP-uV626d14568406199136_16398243400288_otn6dhvdhm" target="_blank" rel="noopener" ><div>{% trans "Астрофизика и радиоастрономия I (9:30-13.30, 202)" %}</div></a>
        <a class="medium-link paragraph" href="https://youtube.com/live/Sg0P8_9KTo8?feature=share14424716553057_15366590171745_waatqbhowm" target="_blank" rel="noopener" ><div>{% trans "Дистанционное зондирование Земли I (9:30-13.30, 200)" %}</div></a>
        <a class="medium-link paragraph" href="https://youtube.com/live/HXHhpiHdeCk?feature=share13622422481802_14363567590026_yxc3jiicwa" target="_blank" rel="noopener" ><div>{% trans "Юниоры (9 – 11 классы) I (9:30-13.30, музей)" %}</div></a>

        <a class="medium-link paragraph" href="https://youtube.com/live/R0iQYvenDHU?feature=share14223931091939_15379946932963_4x5jy5dany" target="_blank" rel="noopener" ><div class="pad-both">{% trans "Пленарный доклад Темная Вселенная - Захаров Е.И. (13.30, КЗ)" %}</div>

        <a class="medium-link paragraph" href="https://youtube.com/live/1oeuTKss56E?feature=share14022140111724_14212709223020_wml3vvmfli" target="_blank" rel="noopener" ><div>{% trans "Исследование планет II (c 15:00, КЗ)" %}</div></a>
        <a class="medium-link paragraph" href="https://youtube.com/live/KZ3GfRhGRxo?feature=share13925891517386_14454275246794_x2sc6oshrq" target="_blank" rel="noopener" ><div>{% trans "Астрофизика и радиоастрономия II (c 15:00, 202)" %}</div></a>
        <a class="medium-link paragraph" href="https://youtube.com/live/IjaOKGiWFqg?feature=share15158407211781_15111608011269_kwrge2qc6m" target="_blank" rel="noopener" ><div>{% trans "Дистанционное зондирование Земли II (c 15:00, 200)" %}</div></a>
        <a class="medium-link paragraph" href="https://youtube.com/live/184LfGd7TcE?feature=share13859932875639_14324306807415_mqwvpe64rm" target="_blank" rel="noopener" ><div>{% trans "Юниоры (9 – 11 классы) II (c 15:00, музей)" %}</div></a>
        </div>
        </div>

        {% endif %}
        
        {% if day == 23 %}
        <div class="paragraph">{% trans "Трансляции секций" %} 23.04:</div>
        
        <div class="broadcast-link-split">
        <div>
        <div class="pad-both">{% trans "VK Видео" %}</div>

        <a class="medium-link paragraph" href="https://vkvideo.ru/video-278486_456239408?list=ln-xmgNyO1u4N0NQE2FCp" target="_blank" rel="noopener" ><div>{% trans "Космическое приборостроение и эксперимент I (9:30-13.30, КЗ)" %}</div></a>
        <a class="medium-link paragraph" href="https://vkvideo.ru/video-278486_456239411?list=ln-g8lDw2TiGm40keiWzN" target="_blank" rel="noopener" ><div>{% trans "Теория и моделирование физических процессов I (9:30-13.30, 202)" %}</div></a>
        <a class="medium-link paragraph" href="https://vkvideo.ru/video-278486_456239413?list=ln-0VontsQNERzsgFaOYK" target="_blank" rel="noopener" ><div>{% trans "Дистанционное зондирование Земли III (9:30-12:00, 200)" %}</div></a>
        <a class="medium-link paragraph" href="https://vkvideo.ru/video-278486_456239414?list=ln-vZ0piisvB2p7B5NqgP" target="_blank" rel="noopener" ><div>{% trans "Космос в социальных науках и мировой политике I (12:00-13.30, 200)" %}</div></a>

        <a class="medium-link paragraph" href="https://vkvideo.ru/video-278486_456239409?list=ln-ZoKQLX6aaDfMdhVYLZ" target="_blank" rel="noopener" ><div class="pad-both">{% trans "Пленарный доклад Ключевые направления деятельности РГО - Чайкова А.И. (13.30, КЗ)" %}</div>

        <a class="medium-link paragraph" href="https://vkvideo.ru/video-278486_456239410?list=ln-LZRwtv18HBEXGsjiwF" target="_blank" rel="noopener" ><div>{% trans "Космическое приборостроение и эксперимент II (c 15:00, КЗ)" %}</div></a>
        <a class="medium-link paragraph" href="https://vkvideo.ru/video-278486_456239412?list=ln-z1ZCwU9ZOZoclnzdAN" target="_blank" rel="noopener" ><div>{% trans "Теория и моделирование физических процессов II (c 15:00, 202)" %}</div></a>
        <a class="medium-link paragraph"  href="https://vkvideo.ru/video-278486_456239415?list=ln-hWMcoSyw4ChBAKF5uK" target="_blank" rel="noopener" ><div>{% trans "Космос в социальных науках и мировой политике II (c 15:00, 200)" %}</div></a>
        </div>

        <div>
        <div class="pad-both">YouTube</div>

        <a class="medium-link paragraph" href="https://youtube.com/live/8JGWzRaD2xM?feature=share13651739224889_14551264791097_brfkhcogvm" target="_blank" rel="noopener" ><div>{% trans "Космическое приборостроение и эксперимент I (9:30-13.30, КЗ)" %}</div></a>
        <a class="medium-link paragraph" href="https://youtube.com/live/pKlXQnShPR0?feature=share14042613951263_15406459587103_6ufikkdg24" target="_blank" rel="noopener" ><div>{% trans "Теория и моделирование физических процессов I (9:30-13.30, 202)" %}</div></a>
        <a class="medium-link paragraph" href="https://youtube.com/live/QEEyTlX0tgI?feature=share14184414718784_15500034312768_xjnuscmeom" target="_blank" rel="noopener" ><div>{% trans "Дистанционное зондирование Земли III (9:30-12:00, 200)" %}</div></a>
        <a class="medium-link paragraph" href="https://youtube.com/live/ipNkIaw1Bk4?feature=share14029332818829_14038176107149_2qle44qrg4" target="_blank" rel="noopener" ><div>{% trans "Космос в социальных науках и мировой политике I (12:00-13.30, 200)" %}</div></a>

        <a class="medium-link paragraph" href="https://youtube.com/live/IGOFldH9xQQ?feature=share14731969375006_15348286294558_pklaugmowy" target="_blank" rel="noopener" ><div class="pad-both">{% trans "Пленарный доклад Ключевые направления деятельности РГО - Чайкова А.И. (13.30, КЗ)" %}</div>

        <a class="medium-link paragraph" href="https://youtube.com/live/Pmc4iM6QmLs?feature=share14049184852850_13816538466930_xnvhqo46ma" target="_blank" rel="noopener" ><div>{% trans "Космическое приборостроение и эксперимент II (c 15:00, КЗ)" %}</div></a>
        <a class="medium-link paragraph" href="https://youtube.com/live/DZTuTadLEDk?feature=share13825166879599_14018099743343_7ebhhauecu" target="_blank" rel="noopener" ><div>{% trans "Теория и моделирование физических процессов II (c 15:00, 202)" %}</div></a>
        <a class="medium-link paragraph"  href="https://youtube.com/live/RGMfXbTJWuY?feature=share14024958815106_15473207020162_xvfe27vqty" target="_blank" rel="noopener" ><div>{% trans "Космос в социальных науках и мировой политике II (c 15:00, 200)" %}</div></a>


        </div>
        </div>

        {% endif %}
        
        {% if day == 24 %}
        <div class="paragraph">{% trans "Трансляции секций" %} 24.04:</div>
        
        <div class="broadcast-link-split">
        <div>
        <div class="pad-both">{% trans "VK Видео" %}</div>

        <a class="medium-link paragraph" href="https://vkvideo.ru/video-278486_456239416?list=ln-DPzt32xlK9kcoAEmtj" target="_blank" rel="noopener" ><div>{% trans "Дистанционное зондирование Земли IV (9:30-13.30, КЗ)" %}</div></a>
        <a class="medium-link paragraph" href="https://vkvideo.ru/video-278486_456239419?list=ln-VwiMQqCpsYy2cNOOpd" target="_blank" rel="noopener" ><div>{% trans "Физика солнечной системы I (9:30-13.30, 202)" %}</div></a>
        <a class="medium-link paragraph" href="https://vkvideo.ru/video-278486_456239421?list=ln-ztPbpJDBdoTkCNEogU" target="_blank" rel="noopener" ><div>{% trans "Космическое приборостроение и эксперимент III (9:30-13:30, 200)" %}</div></a>
        <a class="medium-link paragraph" href="https://vkvideo.ru/video-278486_456239423?list=ln-0glZ9GzhZSaSfpLO7H" target="_blank" rel="noopener" ><div>{% trans "Астрофизика и радиоастрономия III (9:30-13.30, музей)" %}</div></a>

        <a class="medium-link paragraph" href="https://vkvideo.ru/video-278486_456239417?list=ln-5O1ktL3yGQlD0n6ZeR" target="_blank" rel="noopener" ><div class="pad-both">{% trans "Пленарный доклад Охота на невидимок: наука и искусство - Неретина А.Н. (13.30, КЗ)" %}</div>

        <a class="medium-link paragraph" href="https://vkvideo.ru/video-278486_456239418?list=ln-dykqd69ovqju0RXKqz" target="_blank" rel="noopener" ><div>{% trans "Дистанционное зондирование Земли V (c 15:00, КЗ)" %}</div></a>
        <a class="medium-link paragraph" href="https://vkvideo.ru/video-278486_456239420?list=ln-VjpOPvgGJIjEre5ZzE" target="_blank" rel="noopener" ><div>{% trans "Теория и моделирование физических процессов III (c 15:00, 202)" %}</div></a>
        <a class="medium-link paragraph"  href="https://vkvideo.ru/video-278486_456239422?list=ln-UOzzJAwZgb9hIR1ANa" target="_blank" rel="noopener" ><div>{% trans "Космическое приборостроение и эксперимент IV (c 15:00, 200)" %}</div></a>
        <a class="medium-link paragraph"  href="https://vkvideo.ru/video-278486_456239424?list=ln-Pbf638OTnFBlIaz5jm" target="_blank" rel="noopener" ><div>{% trans "Астрофизика и радиоастрономия IV (c 15:00, музей)" %}</div></a>
        </div>

        <div>
        <div class="pad-both">YouTube</div>

        <a class="medium-link paragraph" href="https://youtube.com/live/a_FZ9Q4QcI4?feature=share13756518902575_14005450312239_isyon6euoq" target="_blank" rel="noopener" ><div>{% trans "Дистанционное зондирование Земли IV (9:30-13.30, КЗ)" %}</div></a>
        <a class="medium-link paragraph" href="https://youtube.com/live/CLwFd_F2mSE?feature=share14046077397821_15254649834045_hp6ocy27te" target="_blank" rel="noopener" ><div>{% trans "Физика солнечной системы I (9:30-13.30, 202)" %}</div></a>
        <a class="medium-link paragraph" href="https://youtube.com/live/oJC3XDtjbmw?feature=share13607582903119_13977691032143_lv3m3nianu" target="_blank" rel="noopener" ><div>{% trans "Космическое приборостроение и эксперимент III (9:30-13:30, 200)" %}</div></a>
        <a class="medium-link paragraph" href="https://youtube.com/live/RiddKccnkCU?feature=share13669168262006_14270533732982_3atngdwxua" target="_blank" rel="noopener" ><div>{% trans "Астрофизика и радиоастрономия III (9:30-13.30, музей)" %}</div></a>

        <a class="medium-link paragraph" href="https://youtube.com/live/MQRZ9-73PW4?feature=share13589018979150_13947886897742_j753wbqepi" target="_blank" rel="noopener" ><div class="pad-both">{% trans "Пленарный доклад Охота на невидимок: наука и искусство - Неретина А.Н. (13.30, КЗ)" %}</div>

        <a class="medium-link paragraph" href="https://youtube.com/live/LtEUjSaFV3g?feature=share14707080112979_14179088599635_fuvbdm5jfi" target="_blank" rel="noopener" ><div>{% trans "Дистанционное зондирование Земли V (c 15:00, КЗ)" %}</div></a>
        <a class="medium-link paragraph" href="https://youtube.com/live/eVYjUa9tUzo?feature=share13442385783692_14201811962508_25gbn62eju" target="_blank" rel="noopener" ><div>{% trans "Теория и моделирование физических процессов III (c 15:00, 202)" %}</div></a>
        <a class="medium-link paragraph"  href="https://youtube.com/live/cwrhUVR_fvY?feature=share13678534601482_14285627066890_nosqxjihbe" target="_blank" rel="noopener" ><div>{% trans "Космическое приборостроение и эксперимент IV (c 15:00, 200)" %}</div></a>
        <a class="medium-link paragraph"  href="https://youtube.com/live/D9BbiTmA8bY?feature=share13734926429177_14629042588409_krep4y47gy" target="_blank" rel="noopener" ><div>{% trans "Астрофизика и радиоастрономия IV (c 15:00, музей)" %}</div></a>


        </div>
        </div>

        {% endif %}

    </div>
   
    <div class="section-title">&nbsp;</div>


    <div class="second-container"> 
        <div class="paragraph">{% trans "Общее расписание на все дни доступно по кнопкам ниже." %}</div>
        <div  class="timetable-doc-split">
            <div class="rules-doc-container">
                <div class="rules-doc-img"><img class="img-container" src="{% static 'conference/assets/all_days_pdf.svg' %}?v={{static_version }}" /></div>
                <div class="rules-doc-text">{% trans "Общее расписание секций" %}</div>
               <a target="_blank" href="{% url 'get_timetable_basic' LANGUAGE_CODE  %}"><div class="rules-doc-button">{% trans "скачать" %}</div></a>
            </div>
            <div class="rules-doc-container">
                <div class="rules-doc-img"><img class="img-container" src="{% static 'conference/assets/all_days_pdf.svg' %}?v={{static_version }}" /></div>
                <div class="rules-doc-text">{% trans "Общее расписание докладов" %}</div>
                <a target="_blank" href="{% url 'get_timetable_full' LANGUAGE_CODE  %}"><div class="rules-doc-button">{% trans "скачать" %}</div></a>
            </div>
        </div>
    <a href="https://www.youtube.com/playlist?list=PLHCBGdx6NxTssuOytbGllFbM_qVy4ySVv" target="_blank" rel="noopener" class="medium-link " ><div class="paragraph pad-both">{% trans "Трансляции на YouTube - все дни, все секции" %}</div></a>
    <a href="https://vkvideo.ru/playlist/-278486_2" target="_blank" rel="noopener" class="medium-link" ><div class="paragraph">{% trans "Трансляции на VK Видео - все дни, все секции" %}</div></a>
    </div>

    

</div>



{% include "conference/contacts.html"  %}

{% endblock %}
