
{% if form %}
    <form hx-post="{% url url_name report.id %}" hx-trigger="click from:#submit-{{ field }}" hx-target="#report-{{ field }}" hx-swap="innerHTML">
        {% csrf_token %}
        {{ form }}
            
            <div class="split"> 
                <p class="form-button" id="submit-{{ field }}">сохранить</p>
                <p class="form-button-light" hx-get="{% url url_name report.id %}" hx-trigger="click" hx-target="#report-{{ field }}" hx-swap="innerHTML" >отменить</p>
            </div>
    </form>
{% else %}
    {{ value }}
    <script>
        htmx.ajax('GET', "{% url 'report_chat' report.id %}", '#chat-target');
    </script>
{% endif %}
