
<div  id="report-has_advisor">
<form hx-post={% url 'admin_report_has_advisor' report.id %} hx-trigger="change from:#id_has_advisor" hx-target="#report-has_advisor" hx-swap="outerHTML">
    {% csrf_token %}
    <div class="checkbox-split">
        <div class="checkbox-input-container">{{ form.has_advisor }}</div>
        <div><label for="id_has_advisor">Есть научный руководитель</label></div>
    </div>
</form>
{% if changed %}
    <script>
    htmx.ajax('GET', "{% url 'report_chat' report.id %}", '#chat-target');
    </script>
{% endif %}
</div>
