{% extends 'admin_interfaces/admin_main.html' %}

{% load static %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'users/profile_forms.css' %}?v={{ static_version }}"/>
    <link rel="stylesheet" href="{% static 'users/input_dropdown.css' %}?v={{ static_version }}"/>
{% endblock %}

{% block page %}

    <div class="page-title">Черный список</div>
    
    <div id="bl-entry-target">
        <div class="dark-button" hx-get="{% url 'handle_bl_entry' %}"  hx-trigger="click" hx-swap="outerHTML">Добавить запись</div>
    </div>

    <table>
        <thead>
        <tr>
            <th>Статус</th>
            <th>Комментарий</th>
            <th>Пользователь</th>
            <th>Время создания</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for entry in black_list %}
        <tr>
            <td>
                {% if entry.level == 'gray' %}
                    <div class="report-status gray"><img class="question" src="{% static 'conference/assets/question.svg' %}?v={{ static_version }}"></div>
                {% else %}
                    <div class="report-status black"><img src="{% static 'conference/assets/declined.svg' %}?v={{ static_version }}"></div>

                {% endif %}
            </td>
            <td>{{ entry.comment }}</td>
            <td>
                {% if entry.user %}
                <div>{{ entry.user.email }} {{ entry.user.profile.full_rus_name }}</div>
                <div>{{ entry.user.profile.org_ru }}</div>
                {% endif %}
            </td>
            <td>{{ entry.created }}</td>
            <td><img hx-get="{% url 'handle_bl_entry' entry.id %}" hx-target="#bl-entry-target" hx-trigger="click" hx-swap="innerHTML" src="{% static 'conference/assets/bx_edit.svg' %}?v={{ static_version }}" /></td>
            <td><a href="{% url 'delete_bl_entry' entry.id %}"><img src="{% static 'conference/assets/mingcute_delete-line.svg' %}?v={{ static_version }}" /></a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
