{% load static %}

<div class="comment-container gr-bg">
    <div class="comment-header">
        <div class="c-date">{{ report.created|date:'d.m.Y, H:i' }} UTC</div>
        <div class="c-profile">{{ report.profile.short_rus_name }}</div>
    </div>
    <div class="c-content">доклад создан</div>
</div>

{% for comment in report.ordered_comments %}
{% if comment.id == comment_instance.id and form  %}
<div class="comment-container">
    <form hx-post="{% url 'report_chat_form' report.id comment.id %}" hx-trigger="click from:#chat-post" hx-target="#chat-target" hx-swap="innerHTML">
        {% csrf_token %}
        <div hidden>{{ form.report }}</div>
        <div hidden>{{ form.profile }}</div>
        <div class="chat-textarea">{{ form.content }}</div>
        <div id="chat-post" class="chat-post">отправить</div>
    </form>
</div>
{% else %}
<div class="comment-container {% if comment.auto %}gr-bg{% endif %}">
    <div class="comment-header">
        <div class="c-date">{{ comment.created|date:'d.m.Y, H:i' }} UTC</div>
        <div class="c-profile {% if comment.auto %}{% else %} bold {% endif %}">{{ comment.profile.short_rus_name }}</div>
        {% if comment.auto %}{% else %}{% if comment.profile == request.user.profile %}
        <div class="chat-icons">
            <div hx-get="{% url 'report_chat_form' report.id comment.id %}" hx-target="#chat-target" hx-swap="innerHTML"><img src="{% static 'conference/assets/bx_edit.svg' %}?v={{ static_version }}"/></div>
            <div hx-get="{% url 'del_chat_comment' comment.id %}" hx-target="#chat-target" hx-swap="innerHTML"><img src="{% static 'conference/assets/mingcute_delete-line.svg' %}?v={{ static_version }}"/></div>
        </div>
        {% endif %}{% endif %}
    </div>
    <div class="c-content">{{ comment.content }}</div>
</div>
{% endif %}
{% endfor %}

{% if form %}
{% if comment_instance %}
{% else %}
<div class="comment-container">
    <form hx-post="{% url 'report_chat' report.id %}" hx-trigger="click from:#chat-post" hx-target="#chat-target" hx-swap="innerHTML">
    {% csrf_token %}
    <div hidden>{{ form.report }}</div>
    <div hidden>{{ form.profile }}</div>
    <div class="chat-textarea">{{ form.content }}</div>
    <div id="chat-post" class="chat-post">отправить</div>
    </form>
</div>
{% endif %}
{% endif %}
