{% extends 'admin_interfaces/admin_main.html' %}


{% block page %}

    <div class="page-title">Участники</div>
    <div class="page-split">
        <div class="page-sub-title">Всего участников: <span class="fat">{{ profiles.count }}</span></div>
        <div class="dark-button">Скачать csv-файл</div>
    </div>
    <table>
    <thead>
        <tr>
            <th>ФИО</th>
            <th>Организация</th>
            <th>Орг</th>
            <th>Позиция</th>
            <th>Форма участия</th>
            <th>Тип участия</th>
            <th>Гражданство</th>
            <th>E-mail</th>
            <th>Телефон</th>
            <th>Регистрация на сайте</th>
            <th>Регистрация на конференцию</th>
        </tr>
    </thead>
    <tbody>
        {% for profile in profiles %}
        <tr>
            <td>
                <div>{{ profile.full_rus_name }}</div>
                <div>({{ profile.full_en_name }})</div>
            </td>
            <td>
                <div>{{ profile.org_ru }}</div>
                <div>({{ profile.org_en }})</div>
            </td>
            <td>
                <div>{{ profile.org_short_ru }}</div>
                <div>({{ profile.org_short_en }})</div>
            </td>
            <td>
                <div>{{ profile.position_ru }}</div>
                <div>({{ profile.position_en }})</div>
            </td>
            <td>{% if profile.get_participation.online %} онлайн {% else %} очная {% endif %}</td>
            <td>{% if profile.any_reports_this_year %} с докладом {% else %} без доклада {% endif %}</td>
            <td>{{ profile.citizenship.title_ru }}</td>
            <td>{{ profile.user.email }}</td>
            <td>{{ profile.phone }}</td>
            <td>{{ profile.user.created }}</td>
            <td>{{ profile.get_participation.created }}</td>
        </tr>
        {% endfor %}
    </tbody>


    </table>



{% endblock %}
