{% extends 'admin_interfaces/admin_main.html' %}

{% load static %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'users/profile_forms.css' %}?v={{ static_version }}"/>
{% endblock %}

{% block page %}

    <div class="page-title">Участники {{ current_year }}</div>
    <div class="page-split">
        <div class="page-sub-title">Всего участников: <span class="fat">{{ profiles.count }}</span></div>
        

        <a id="json-link" data-href="{% url 'everything_json' current_year %}" 
            data-citizenship="{% if filter_form.citizenship.value %}{{ filter_form.citizenship.value }}{% endif %}" 
            data-reports="{% if filter_form.reports.value %}{{ filter_form.reports.value }}{% endif %}"  
            data-online="{% if filter_form.online.value %}{{ filter_form.online.value }}{% endif %}" 
            href="{% url 'everything_json' current_year %}?{% if filter_form.reports.value %}reports={{ filter_form.reports.value }}&{% endif %}{% if filter_form.citizenship.value %}citizenship={{ filter_form.citizenship.value }}&{% endif %}{% if filter_form.online.value %}online={{ filter_form.online.value }}{% endif %}">
            <div class="dark-button">JSON все данные</div>
        </a>
        
        <a id="csv-link" data-href="{% url 'participant_csv' current_year %}" 
            data-citizenship="{% if filter_form.citizenship.value %}{{ filter_form.citizenship.value }}{% endif %}" 
            data-reports="{% if filter_form.reports.value %}{{ filter_form.reports.value }}{% endif %}"
            data-online="{% if filter_form.online.value %}{{ filter_form.online.value }}{% endif %}" 
            href="{% url 'participant_csv' current_year %}?{% if filter_form.reports.value %}reports={{ filter_form.reports.value }}&{% endif %}{% if filter_form.citizenship.value %}citizenship={{ filter_form.citizenship.value }}&{% endif %}{% if filter_form.online.value %}online={{ filter_form.online.value }}{% endif %}">
            <div class="dark-button">Скачать csv-файл</div>
        </a>

    </div>


    <div class="split">
        <div class="field-container">{{ filter_form.online }}</div>
        <div class="field-container">{{ filter_form.reports }}</div>
        <div class="field-container">{{ filter_form.citizenship }}</div>
        <div class="field-container">
            <a id="filter-link" 
                data-href="{% url 'participant_list' current_year %}" 
                data-citizenship="{% if filter_form.citizenship.value %}{{ filter_form.citizenship.value }}{% endif %}" 
                data-reports="{% if filter_form.reports.value %}{{ filter_form.reports.value }}{% endif %}"  
                data-online="{% if filter_form.online.value %}{{ filter_form.online.value }}{% endif %}" 
                href="{% url 'participant_list' current_year %}?{% if filter_form.reports.value %}reports={{ filter_form.reports.value }}&{% endif %}{% if filter_form.citizenship.value %}citizenship={{ filter_form.citizenship.value }}&{% endif %}{% if filter_form.online.value %}online={{ filter_form.online.value }}{% endif %}">
            <div class="dark-button">применить</div>
            </a>
        </div>
    </div>

    <div class="bl-badge-split-split">
    <div class="bl-badge-split">
        <div class="report-status gray"><img class="question" src="{% static '/conference/assets/question.svg' %}?v={{ static_version }}"></div>
        <div>Пользователь в сером списке</div>
    </div>

    <div class="bl-badge-split">
        <div class="report-status black"><img src="{% static '/conference/assets/declined.svg' %}?v={{ static_version }}"></div>
        <div>Пользователь в черном списке</div>
    </div>
    </div>

    <table>
    <thead>
        <tr>
            <th>ФИО (en)</th>
            <th>Организация (en)</th>
            <th>Орг (en)</th>
            <th>Позиция (en)</th>
            <th>Форма участия</th>
            <th>Доклады</th>
            <th>Гражданство</th>
            <th>E-mail</th>
            <th>Телефон</th>
            <th>Регистрация на сайте UTC</th>
            <th>Регистрация на конференцию UTC</th>
        </tr>
    </thead>
    <tbody>
        {% for profile in profiles %}
        <tr class="{{ profile.bl_class }}">
            <td>
                <div>{{ profile.full_rus_name }}</div>
                <div>({{ profile.full_en_name }})</div>
            </td>
            <td>
                <div>{{ profile.org_ru }}</div>
                <div>({{ profile.org_en }})</div>
            </td>
            <td>
                <div>{{ profile.org_short_ru }}</div>
                <div>({{ profile.org_short_en }})</div>
            </td>
            <td>
                <div>{{ profile.position_ru }}</div>
                <div>({{ profile.position_en }})</div>
            </td>
            <td>{% if profile.online %}онлайн{% else %}очно{% endif %}</td>
            <td>{{ profile.rep_count }}</td>
            <td>{{ profile.citizenship.title_ru }}</td>
            <td>{{ profile.user.email }}</td>
            <td>{{ profile.phone }}</td>
            <td>{{ profile.user.created|date:'d.m.Y, H:i' }}</td>
            <td>{{ profile.date_reg|date:'d.m, H:i' }}</td>
        </tr>
        {% endfor %}
    </tbody>


    </table>



{% endblock %}
