{% extends 'admin_interfaces/admin_main.html' %}

{% load static %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'users/profile_forms.css' %}?v={{ static_version }}"/>
{% endblock %}


{% block page %}

    <div class="page-title">Доклады {{ current_year }}</div>
    <div class="page-split">
        <div class="page-sub-title">Всего докладов: <span class="fat">{{ reports.count }}</span></div>
        <a id="csv-link"
        data-href="{% url 'report_csv' current_year %}" 
        data-citizenship="{% if filter_form.citizenship.value %}{{ filter_form.citizenship.value }}{% endif %}" 
        data-section_id="{% if filter_form.section_id.value %}{{ filter_form.section_id.value }}{% endif %}" 
        data-online="{% if filter_form.online.value %}{{ filter_form.online.value }}{% endif %}" 
        data-status="{% if filter_form.status.value %}{{ filter_form.status.value }}{% endif %}" 

        href="{% url 'report_csv' current_year %}?{% if filter_form.status.value %}status={{ filter_form.status.value }}&{% endif %}{% if filter_form.section_id.value %}section_id={{ filter_form.section_id.value }}&{% endif %}{% if filter_form.citizenship.value %}citizenship={{ filter_form.citizenship.value }}&{% endif %}{% if filter_form.online.value %}online={{ filter_form.online.value }}{% endif %}">
            <div class="dark-button">Скачать csv-файл</div>
        </a>
    </div>

    <div class="split">
        <div class="field-container">{{ filter_form.status }}</div>
        <div class="field-container">{{ filter_form.section_id }}</div>
        <div class="field-container">{{ filter_form.online }}</div>
        <div class="field-container">{{ filter_form.citizenship }}</div>
        <div class="field-container">
            <a id="filter-link" 
            data-href="{% url 'report_list' current_year %}" 
            data-citizenship="{% if filter_form.citizenship.value %}{{ filter_form.citizenship.value }}{% endif %}" 
            data-section_id="{% if filter_form.section_id.value %}{{ filter_form.section_id.value }}{% endif %}" 
            data-online="{% if filter_form.online.value %}{{ filter_form.online.value }}{% endif %}" 
            data-status="{% if filter_form.status.value %}{{ filter_form.status.value }}{% endif %}"

            href="{% url 'report_list' current_year %}?{% if filter_form.status.value %}status={{ filter_form.status.value }}&{% endif %}{% if filter_form.section_id.value %}section_id={{ filter_form.section_id.value }}&{% endif %}{% if filter_form.citizenship.value %}citizenship={{ filter_form.citizenship.value }}&{% endif %}{% if filter_form.online.value %}online={{ filter_form.online.value }}{% endif %}">
                <div class="dark-button">применить</div>
            </a>
        </div>
    </div>


    <div class="bl-badge-split-split">
    <div class="bl-badge-split">
        <div class="report-status gray"><img class="question" src="{% static '/conference/assets/question.svg' %}?v={{ static_version }}"></div>
        <div>Пользователь в сером списке</div>
    </div>

    <div class="bl-badge-split">
        <div class="report-status black"><img src="{% static '/conference/assets/declined.svg' %}?v={{ static_version }}"></div>
        <div>Пользователь в черном списке</div>
    </div>
    </div>


    <table>
    <thead>
        <tr>
            <th>Статус</th>
            <th>Название</th>
            <th>Форма</th>
            <th>Язык</th>
            <th>Кто подал</th>
            <th>Организация</th>
            <th>Секция (подсекция)</th>
            <th>Когда подан</th>
            <th>ЭЗ</th>
            <th>Презентация</th>
        </tr>
    </thead>
    <tbody>
        {% for report in reports %}
        <tr class="{{ report.bl_class }}">
            <td>

            {% if report.status == 'accepted'  %}
                <div class="report-status {% if report.plenary %}plenary{% else %}accepted{% endif %}"><img src="{% static 'conference/assets/accepted_check.svg' %}?v={{ static_version }}"></div>
            {% elif report.status == 'declined' %}
                <div class="report-status declined"><img src="{% static 'conference/assets/declined.svg' %}?v={{ static_version }}"></div>
            {% else %}
                <div class="report-status in-review"><img src="{% static 'conference/assets/jam_search.svg' %}?v={{ static_version }}" %}</div>
            {% endif %}
            </td>
            <td>
                <a class="table-link" href="{% url 'report_public_page' report.id %}" >{{ report.title }}</a>
                {% if request.user.is_admin %}
                &nbsp;&nbsp;<a class="table-link" href="{% url 'admin_report' report.id %}"><img src="{% static 'conference/assets/bx_edit.svg' %}?v={{ static_version }}" /></a>
                {% endif %}

            </td>
            <td>{% if report.online %} онлайн {% else %} очная {% endif %}</td>
            <td>{{ report.lang }}</td>
            <td>
                <div>{{ report.profile.full_rus_name }}</div>
                <div>({{ report.profile.full_en_name }})</div>
            </td>
            <td>
                <div>{{ report.profile.org_ru }}</div>
                <div>({{ report.profile.org_en }})</div>
            </td>
            <td>
                <div>{{ report.section.name_ru }}</div>
                <div>({{ report.subsection.name_ru }})</div>

            </td>
            <td>{{ report.created }}</td>
            <td>{% if report.has_expertise %}<a class="table-link" href="{% url 'display_file' 'expertise' report.get_expertise.id %}">есть</a>&nbsp;({{ report.expertise_files.count }}){% endif %}</td>
            <td>{% if report.has_presentation %}<a class="table-link" href="{% url 'display_file' 'presentation' report.get_presentation.id %}">есть</a>&nbsp;({{ report.presentation_files.count }}){% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>


    </table>



{% endblock %}
